<#--
 * description: 用户管理界面
 * version: 1.0 
 * author: xiangyu.qi@hand-china.com
 * 
 * 
-->
<#include "../include/header.html">
<body>
    <script src="${base.contextPath}/common/code?userStatusData=SYS.USER_STATUS" type="text/javascript"></script>
    <div id="roleWin"></div>
    <!-- 修改密码界面 --start----->
    <div class="panel" id="passwordWin">
    <form  id="passwdForm"  class="form-horizontal"  role="form" autocomplete="off">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><@spring.message"user.new_password"/></label>
                        <div class="col-sm-9">
                         
                            <input onfocus="this.type='password'"  name="password" id="password" style="width:90%" autocomplete="off"
                                 class="k-textbox" required data-bind="value:model.password" >
                             <!-- 错误提示放置位置为该span位置 -->
                            <span id="passwd1Msg" data-for="password" class=".k-invalid-msg"></span>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><@spring.message"user.again_new_password"/></label>
                        <div class="col-sm-9">
                            <!-- IE可能不兼容  onfocus="this.type='password'" -->
                            <input onfocus="this.type='password'"  id = "password2"  required  style="width:90%" 
					               name= "password2" autocomplete="off" class="k-textbox " data-bind="value:model.password2" >
                            <span id="passwd2Msg" data-for="password2" class=".k-invalid-msg "></span>
                        </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="text-center panel-footer ">
            <span class="btn btn-success" id="submit" type="submit" data-bind="click:save"><@spring.message "hap.save"/></span>
        </div>
    </form>
</div>
<!-- --end-->
    <div id="content-container">
        <div id="page-content">
            <div class="panel" style="padding:0px;">
                <form class="form-horizontal">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><@spring.message "user.username"/></label>
                                    <div class="col-sm-4">
                                        <input type="text" data-bind="value:model.userName" class="k-textbox" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-left">
                        <span class="btn btn-success" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
                    </div>
                </form>
            </div>
            <div id="grid" style="clear:both"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
        	//修改密码viewModel
        	var viewModelPd = kendo.observable({
        		 model:{},
        		 save:function(e){
        			 var validator = $("#passwdForm").data("kendoValidator");
                     if (validator.validate()) {
                         $.ajax({
                             type   : 'POST',
                             url    : "${base.contextPath}/sys/um/resetPasswordAdmin",
                             data   : viewModelPd.model.toJSON(),
                             success: function (data) {
                                 alert("保存成功");
                             }
                         }); 
                     } 
        		 }
        	});
        	kendo.bind($('#passwordWin'),viewModelPd);
        	
            var viewModel = kendo.observable({
                model:{status:''},
                userStatusData:userStatusData,
                queryResource: function(e) {
                    $('#grid').data('kendoGrid').dataSource.read();
                }
            });
            kendo.bind($('#page-content'),viewModel);
            
            var crudServiceBaseUrl = "${base.contextPath}/sys/user",
                dataSource = new kendo.data.DataSource({
                    transport: {
                         read:{
                             url: crudServiceBaseUrl + "/query",
                                 type : "POST",
                                 dataType: "json"
                         },
                         create : { 
                             url : crudServiceBaseUrl + "/submit",
                             contentType: "application/json",
                             type : "POST" 
                         },
                         update : { 
                             url : crudServiceBaseUrl + "/submit",
                             contentType: "application/json",
                             type : "POST" 
                         },
                         destroy : { 
                              url : crudServiceBaseUrl + "/remove",
                              contentType: "application/json",
                              type : "POST" 
                         },
	                     parameterMap: function(options, type) {
	                         if (type !== "read" && options.models) {
	                             var datas = options.models;
	                             if(type =='create' || type =='update'){
	                                  datas = options.models.map(function(data){
	                                       data['__status'] = (type =='create' ? 'add' : 'update');
	                                            return data;
	                                  })
	                             }
	                             return kendo.stringify(datas);
	                          } else if (type === "read") {
	                                 var map = viewModel.model.toJSON();
	                                 map.page = options.page;
	                                 map.pagesize = options.pageSize;
		                             for(var k in map){
		                                 if(map[k]===''||map[k]===null||map[k]===undefined)
		                                	 delete map[k]
		                             }
		                            return map;
	                          }  
	                      }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 10,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: "userName",
                            fields: {
                                status: {defaultValue:'ACTV'},
                                userName:{validation: { required: true }},
                                startActiveDate:{}
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    },
                    error: function(e) {
                         alert(e.errors)
                    }
                });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    resizable: true,
                    scrollable: false,
                    pageable: {
                        pageSizes:[5, 10, 20, 50],
                        refresh:true,
                        buttonCount:5,
                        messages: {
                            noRecords: "未找到任何数据",
                            display: "{0} - {1} 共 {2} 条数据",
                            empty: "没有数据",
                            page: "页",
                            of: "/ {0}",
                            itemsPerPage: "条每页",
                            first: "第一页",
                            previous: "前一页",
                            next: "下一页",
                            last: "最后一页",
                            refresh: "刷新"
                        }
                    },
                    toolbar: [{ 
                             name:"create", 
                             text:'<@spring.message "hap.new"/>'
                         },{
                             name:"save",
                             text:'<@spring.message "hap.save"/>'
                         },{
                             name:"cancel",
                             text:'<@spring.message "hap.cancel"/>'
                    }], 
                    columns: [
                        { field: "userName", title: '<@spring.message "user.username"/>', width: 80 },
                        { field: "email", title: '<@spring.message "user.email"/>', width: 150 },
                        { field: "phone", title: '<@spring.message "user.phone"/>', width: 130 },
                        { field: "status", 
                          attributes: {style: "text-align:center"},
                          title:  '<@spring.message "user.status"/>', 
                          width: 80, 
                          template: function(dataItem){
                             var v = dataItem.status;
                             $.each(userStatusData,function(i,n){
                                 if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                                     v = n.meaning;
                                     return v;
                                 }
                             })
                             return v;
                          },
                          editor: function(container, options){
                              $('<input required name="' + options.field + '"/>')
                              .appendTo(container)
                              .kendoDropDownList({
                                  dataTextField: "meaning",
                                  dataValueField: "value",
                                  dataSource: userStatusData
                              });
                          }},
                        { field: "startActiveDate",
                          attributes: {style: "text-align:center"},
                          title: '<@spring.message "user.startActiveDate"/>',
                          width: 120,
                          format: "{0:yyyy-MM-dd}",
                          editor: function(container, options){
                        	  //获得到期时间
                        	  var end = options.model.endActiveDate;
                        	  var opts={
                            	  format:"yyyy-MM-dd"
                              }
                        	  if(end){
                        		  opts.max=end;
                        	  }
                       		  $('<input name="' + options.field + '"/>')
                                  .appendTo(container)
                                  .kendoDatePicker(opts);
                          }
                        },
                        { field: "endActiveDate",
                          attributes: {style: "text-align:center"},
                          title: '<@spring.message "user.endActiveDate"/>', 
                          width: 120,
                          format: "{0:yyyy-MM-dd}",
                          editor: function(container, options){
                        	 //获得开始时间
                       	      var start = options.model.startActiveDate;
                       	      var opts={
                             	  format:"yyyy-MM-dd"
                               }
                       	      //设置min属性 限制最小的可选日期
                         	  if(start){
                         		  opts.min=start;
                         	  }
                              $('<input name="' + options.field + '"/>')
                              .appendTo(container)
                              .kendoDatePicker(opts);
                        }},
                  		//弹出window 选择角色
                        { title:'<@spring.message "user.allocationrole"/>',
                          attributes: {style: "text-align:center"},
                          width : 120,
                          command : [{
                              text : '<@spring.message "user.allocationrole"/>',
                              click: function(e){
                            	 e.preventDefault();
                            	 var data = this.dataItem($(e.target).closest("tr"));
                            	 $("#roleWin").kendoWindow({
                                     width: "800px",
                                     height:"400px",
                                     title: '<@spring.message "user.allocationrole"/>',
                                     actions: [
                                               "Pin",
                                               "Minimize",
                                               "Maximize",
                                               "Close"
                                           ],
                                     content: 'sys_user_role_kendoui.html?userId='+data.userId,
                                      iframe:true
                                
                            	 });
                            	 var roleWin =  $("#roleWin").data("kendoWindow");
                            	 roleWin.center().open();
                            	 
                              }
                          }]
                        },
                        //弹出 修改密码
                        { title:'<@spring.message "user.updatepassword"/>',
                          attributes: {style: "text-align:center"},
                          width : 120,
                          command : [{
                            text : '<@spring.message "user.updatepassword"/>',
                            click: function(e){
                                e.preventDefault();
                                var data = this.dataItem($(e.target).closest("tr"));
                                viewModelPd.model.userId = data.userId;
                            	var passwordWin =  $("#passwordWin").data("kendoWindow");
                            	passwordWin.center().open();
                            }
                          }]
                        },
                        {  title:"操作",
                           attributes: {style: "text-align:center"},
                           width : 70,
                           command : [{
                               text : '<@spring.message "hap.delete"/>',
                               click: function(e){
                            	   if(firm()){
                                       e.preventDefault();
                                       var source = $("#grid").data('kendoGrid').dataSource, data = this.dataItem($(e.target).closest("tr"));
                                       source.remove(data);
                                       source.sync();
                            	   }
                                
                               }
                           }]
                        }
                    ],
                    editable: true
                });
                
                //处理grid中的选择框
                $("#grid").on("change", "input.chkbx", function(e) {
                    var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                        dataItem = grid.dataItem(target.closest("tr"));
                    dataItem.set(target.data('field'), this.checked ? 'Y' : 'N');
                });
  
                //初始化密码修改框
                $("#passwordWin").kendoWindow({
                    width: 400,
                    height:220,
                    title: '<@spring.message "user.updatepassword"/>',
                    resizable: false,
                    visible:false,
                    modal: true,
                    //activate :initForm
                    close : initForm
                });
                //密码输入验证
                var container = $("#passwdForm");
                kendo.init(container);
                container.kendoValidator({
                    messages: {
                	    required: "required",
                	    greaterdate:'<@spring.message "error.user.two_password_not_match"/>'
                    },
                    rules: {
                    	//验证密码是否一致
                        greaterdate: function (input) {
                            if (input.is("[name=password2]") && input.val() != "") {                                    
                               var pawd1 =  $("#password");
                               return pawd1.val()==input.val();
                            }
                            return true;
                        }
                    }
                  
                });
      

              function initForm(){
            	
                	var passwordWin =  $("#passwordWin").data("kendoWindow");
                	//清空值
                	var formData = viewModelPd.model.toJSON();
                    for (var k in formData) {
                        viewModelPd.model.set(k, null);
                    }
                    //$("#password").val('');
                    //$("#password2").val('');
                    $("#passwd1Msg").html('');
                    $("#passwd1Msg").removeClass("k-tooltip");
                    $("#passwd2Msg").html('');
                    $("#passwd2Msg").removeClass("k-tooltip");
                }
            });
            function firm() {  
                if (confirm("你确定删除吗？")) {  
                   return true;
                }  
                else {  
                   return false;
                }  
            };
        </script>
</body>
</html>
