<#-- 
* description: 快速编码界面
* version: 1.0 
* 
--> 
<#include "../include/header.html">
<body>
    <script src="${base.contextPath}/common/code?resourceTypeData=SYS.RESOURCE_TYPE&codeYesNo=SYS.YES_NO" type="text/javascript"></script>
    <div id="content-container">
        <div id="page-content">ssss
        <div class="panel">
                <form class="form-horizontal">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message "code.code"/></label>
                                    <div class="col-sm-9">
                                        <input type="text" data-bind="value:model.code" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message "code.description"/></label>
                                    <div class="col-sm-9">
                                        <input type="text" data-bind="value:model.description" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="panel">
                <div class="panel-body">
                    <div id="grid" class="table"></div>
                </div>
            </div>        
        </div>    	
    </div>
<script>
var isedit='${RequestParameters.isedit!0}'=='1';
$(document).ready(function () { 
	
        window.viewModel = kendo.observable({                
            model:{}
        });
        
        kendo.bind($('#page-content'),viewModel);
        
        if(isedit){
        	$.ajax({
        		url:'${base.contextPath}/sys/code/query?codeId=${RequestParameters.codeId!0}',
        		success:function(args){
        			var a0=args.rows[0]||{};
        			for(var k in a0){
        				viewModel.model.set(k,a0[k]);
        			}
        		}
        	});
        }
      
        var crudServiceBaseUrl = "${base.contextPath}/sys/codevalue",
        dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudServiceBaseUrl + "/query?codeId=${RequestParameters.codeId!0}",
                    type : "POST",
                    dataType: "json"
                },
                create : { 
                    url : "${base.contextPath}/sys/code/submit",
                    contentType: "application/json",
                    type : "POST" 
                },
                update : { 
                    url : "${base.contextPath}/sys/code/submit",
                    contentType: "application/json",
                    type : "POST" 
                },
                destroy : { 
                    url : crudServiceBaseUrl + "/remove",
                    contentType: "application/json",
                    type : "POST" 
                },
                parameterMap: function(options, type) {
                    if (type !== "read" && options.models) {
                    	
                        return kendo.stringify([header]);
                    } else if (type === "read") {
                        var model = viewModel.model;
                        var map = {value: model.value,meaning: model.meaning,description:model.description}
                        if (options.page) 
                            map.page = options.page; 
                        if (options.pageSize) 
                            map.pagesize = options.pageSize;
                          return map;
                    }  
                }
            },
            batch: true,
            serverPaging : true,
            pageSize: 10,
            schema: {
                data:'rows',
                total:'total',
                model: {
                    id: "codeValueId",
                    fields: {
                    	value: { validation: { required: true } }
                    }
                },
                errors: function(res){
                    if(!res.success && res.message) {
                        return res.message;
                    }
                }
            },
            error: function(e) {
            	   alert(e.errors)
            }
        });
        
        $("#grid").kendoGrid({
            dataSource: dataSource,
            resizable: true,
            scrollable: false,
            pageable: {
                pageSizes:[5, 10, 20, 50],
                refresh:true,
                buttonCount:5,
                messages: {
                    noRecords: "未找到任何数据",
                    display: "{0} - {1} 共 {2} 条数据",
                    empty: "没有数据",
                    page: "页",
                    of: "/ {0}",
                    itemsPerPage: "条每页",
                    first: "第一页",
                    previous: "前一页",
                    next: "下一页",
                    last: "最后一页",
                    refresh: "刷新"
                }
            },
            toolbar: [{ 
                     name:"create", 
                     text:'<@spring.message "hap.new"/>'
                 },{
                     name:"save",
                     text:'<@spring.message "hap.save"/>'
                 },{
                     name:"cancel",
                     text:'<@spring.message "hap.cancel"/>'
            }],
            columns: [
                { field: "value", title: '<@spring.message "codevalue.value"/>', width: 120 },
                { field: "meaning", title:'<@spring.message "codevalue.meaning"/>', width: 120 },
                { field: "description", title:'<@spring.message "codevalue.description"/>', width: 120 },               
                {attributes: {style: "text-align:center"}, command : [{
                    text : '<@spring.message "hap.delete"/>',
                    click: function(e){
                        e.preventDefault();
                        var source = $("#grid").data('kendoGrid').dataSource, data = this.dataItem($(e.target).closest("tr"));
                        debugger
                        source.remove(data)
                        source.sync()
                      
                    }
                }],  width : 70} ],
           editable: {
                confirmation: function(e){
                    return "确定要删除\""+e.code+"\"么?"
                }
            }
        });
                
        //处理grid中的选择框
        $("#grid").on("change", "input.chkbx", function(e) {
            var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                dataItem = grid.dataItem(target.closest("tr"));
            dataItem.set(target.data('field'), this.checked ? 'Y' : 'N');
        });
        
        /**
         $(".k-grid-saveCode").click(function(){
        	
        	f_save();
        });
        
         function f_save() {
        	var codeValueGrid = $("#codeValueGrid").data("kendoGrid");
        	var header = viewModel.model.toJSON();
         	header.__status=isedit?'updaue':'add';
         	var source = $("#grid").data('kendoGrid').dataSource
            var datas = options.models
            header.codeValues=[];
            $.each(source.data(),function(idx,data){
            	if(data.dirty==true){
             		data['__status'] = (data.codeValueId ? 'update' : 'add'); 
             		header.codeValues.push(data);
            	}
            });
            $.ajax({
            	url:'',
            	contentType:'application/json',
            	data:kendo.stringofy(header),
            	succes:function(args){
            		if(args.success===true){
            			
            		}else {
            			
            		}
            	}
            });
        }
         */
      
});
</script>
</body>
</html>