<#--
 * description: 角色界面
 * version: 1.0 
 * author:qingliang.zeng@hand-china.com
 *  
 * 
-->
<#include "../include/header.html">
<body style="padding: 10px;">
 <div id="content-container">
        <div id="page-content">
             <div id="langGrid" style="clear:both" class="table"></div>
        </div>
 </div>
 
<script type="text/javascript">

$(document).ready(function () {
var baseUrl = "${base.contextPath}/sys/profilevalue/";
dataSource = new kendo.data.DataSource({
       transport: {
            read:  {
			url : baseUrl+ "querylevelvalues?levelId=${RequestParameters.levelId!}",
            type : "POST",
            dataType: "json"
           }
       }, schema: {
           data:'rows',
           total:'total',
           model: {
           	   id: "profileValueId",
               fields: {
               	levelName: { validation: { required: false } },
               	levelValue: { validation: { required: true  } }
               }
           },
           errors: function(res){
               if(!res.success && res.message) {
                   return res.message;
               }
           }
       }
   });            

        $("#langGrid").kendoGrid({
        	dataSource: dataSource,
            resizable: true,
            scrollable: false,
            
            columns: [
                { 
                	field: "levelName", 
                	title: '<@spring.message "profilevalue.levelid"/>',
                	width: 120 
                }, { 
                	field: "levelValue", 
                	title: '<@spring.message "profilevalue.levelvalue"/>',
                	width: 120 
                }],
                editable: false
        });
        
});

</script>
</body>
</html>
