<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdispatch.core.dispatch.mapper.LayerMapper">
    <resultMap id="baseMap" type="hdispatch.core.dispatch.dto.layer.Layer" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="layer_id" property="layerId"/>
        <result column="theme_id" property="themeId"/>
        <result column="name" property="layerName"/>
        <result column="description" property="layerDescription"/>
        <result column="active" property="layerActive"/>
        <result column="display_sequence" property="layerSequence"/>
    </resultMap>

    <insert id="save" parameterType="hdispatch.core.dispatch.dto.layer.Layer">
        INSERT INTO hdispatch_layer(name,description,display_sequence,theme_id)
        VALUES (#{layerName},#{layerDescription},#{layerSequence},#{themeId})
    </insert>
    <select id="selectByNameAndActiveAndThemeId" resultMap="baseMap">
        SELECT * FROM hdispatch_layer
        WHERE active=1 AND theme_id=#{themeId} AND name=#{layerName}
    </select>
    <update id="deleteInLogic">
        UPDATE hdispatch_layer SET active=0
        WHERE layer_id=#{layerId}
    </update>
    <select id="selectActiveLayersUnderTheme" resultMap="baseMap">
        SELECT * FROM hdispatch_layer
        WHERE active=1 AND theme_id=#{themeId}
    </select>

    <select id="selectById" resultMap="baseMap">
        SELECT * FROM hdispatch_layer
        WHERE layer_id=#{layerId,jdbcType=DECIMAL}
    </select>
    <select id="selectAllActiveLayers" resultMap="baseMap">
        SELECT * FROM hdispatch_layer
        WHERE active=1
    </select>
</mapper>