<?xml version="1.0" encoding="UTF-8" ?>
<!--
Created by yyz on 2016/9/11.
yazheng.yang@hand-china.com
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdispatch.core.dispatch.mapper.ThemeMapper">
    <resultMap id="baseMap" type="hdispatch.core.dispatch.dto.theme.Theme" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="theme_id" property="themeId"/>
        <result column="name" property="themeName"/>
        <result column="description" property="themeDescription"/>
        <result column="active" property="themeActive"/>
        <result column="display_sequence" property="themeSequence"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="themeId" parameterType="hdispatch.core.dispatch.dto.theme.Theme">
        INSERT INTO hdispatch_theme(name,description,display_sequence)
        VALUES (#{themeName},#{themeDescription},#{themeSequence})
    </insert>
    <select id="selectAll" resultMap="baseMap">
        SELECT * FROM hdispatch_theme WHERE active=1
    </select>
    <select id="selectByTheme" resultMap="baseMap">
        SELECT * FROM hdispatch_theme
        <where>
            <if test="themeId != null and themeId>0">
                and theme_id = #{themeId,jdbcType=DECIMAL}
            </if>
            <if test="themeName != null">
                <bind name="pattern_themeName" value="'%' + _parameter.themeName + '%'" />
                AND name like #{pattern_themeName}
            </if>
            <if test="themeDescription != null">
                <bind name="pattern_themeDescription" value="'%' + _parameter.themeDescription + '%'" />
                AND description like #{pattern_themeDescription}
            </if>
            AND active=1
        </where>
    </select>
    <select id="selectByNameAndActive" resultMap="baseMap">
        SELECT * FROM hdispatch_theme
        WHERE name=#{themeName,jdbcType=VARCHAR} AND active=1
    </select>

    <update id="deleteInLogic">
        UPDATE hdispatch_theme SET active=0
        WHERE theme_id=#{themeId,jdbcType=DECIMAL}
    </update>
    <select id="selectById" resultMap="baseMap">
        SELECT * FROM hdispatch_theme
        WHERE theme_id=#{themeId,jdbcType=DECIMAL}
    </select>
</mapper>