<#include "../../include/header.html">
    <script src="../../resources/js/dispatch/config/module.js"></script>
    <script src="../../resources/js/dispatch/controller/workflow/workflowListController.js"></script>
    <script src="../../resources/js/dispatch/service/common/httpService.js"></script>
    <script src="../../resources/js/dispatch/service/workflow/workflowService.js"></script>
    <body ng-app="dispatch" ng-controller="workflowListController as vm">
    <script src="${base.contextPath}/common/language?var=languageData"
            type="text/javascript"></script>
    <div id="tipDelete"></div>
    <div id="dialog"></div>
    <div id="content-container">
        <div id="page-content">

            <div class="panel">
                <form name="flow" novalidate>
                    <div class="panel-body">

                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">主题</label>
                                        <div class="col-sm-8 ">
                                            <select class="col-sm-12" name="theme"
                                                    ng-model="vm.workflow.themeId"
                                                    kendo-combo-box
                                                    k-data-text-field="'themeName'"
                                                    k-data-value-field="'themeId'"
                                                    k-data-source="vm.themes"
                                                    style="padding-left:0;padding-right:0"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">层级</label>
                                        <div class="col-sm-8 ">
                                            <select name="layer" class="col-sm-12"
                                                    ng-model="vm.workflow.layerId"
                                                    kendo-combo-box
                                                    k-data-text-field="'layerName'"
                                                    k-data-value-field="'layerId'"
                                                    k-data-source="vm.layers"
                                                    style="padding-left:0;padding-right:0">123123</select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工作流名称</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="workflowName" workflowName
                                                   ng-model="vm.workflow.workflowName" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工作流描述</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="description"
                                                   ng-model="vm.workflow.description" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
						<span class="btn btn-success" ng-click="vm.search()"
                              type="submit">查询</span>
                    </div>
                </form>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <kendo-grid id="grid" k-options="vm.gridOptions"></kendo-grid>
                </div>
            </div>

        </div>

        <script src="../../lib/dateformat.js"></script>
    </body>
    </html>
