<#include "../../include/header.html">
    <script src="../../resources/js/dispatch/config/module.js"></script>
    <script src="../../resources/js/dispatch/controller/workflow/workflowListController.js"></script>
    <script src="../../resources/js/dispatch/service/common/httpService.js"></script>
    <script src="../../resources/js/dispatch/service/workflow/workflowService.js"></script>
    <script src="../../lib/moment.min.js"></script>
    <body ng-app="dispatch" ng-controller="workflowListController as vm">
    <script src="${base.contextPath}/common/language?var=languageData"
            type="text/javascript"></script>
    <div kendo-window="vm.scheduleWindow" k-title="'调度工作流'" k-width="600" k-on-open="vm.scheduleWindow.visible = true"
         k-on-close="vm.scheduleWindow.visible = false" k-visible="false">
        <p class="text-center" ng-show="vm.scheduleFlow.loading">加载中</p>
        <form name="schedule" class="form-horizontal" style="width:100%" novalidate ng-hide="vm.scheduleFlow.loading">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="control-label col-sm-3">工作流</label>
                    <span class="control-label col-sm-6 text-left">{{vm.scheduleFlow.name}}</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">首次执行时间</label>
                    <div class="col-sm-6">
                        <input kendo-date-time-picker name="startTime" k-ng-model="vm.scheduleFlow.startTime" style="width:100%" ng-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">是否循环</label>
                    <div class="col-sm-6">
                        <input type="checkbox" id="recurring" class="k-checkbox" ng-model="vm.scheduleFlow.isrecurring"/>
                        <label class="k-checkbox-label" for="recurring"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">周期</label>
                    <div class="col-sm-6">
                        <input type="number" class="k-textbox" ng-model="vm.scheduleFlow.periodVal" ng-required="vm.scheduleFlow.isrecurring" ng-disabled="!vm.scheduleFlow.isrecurring">
                        <select style="width:50px;"
                                kendo-drop-down-list
                                ng-model="vm.scheduleFlow.period"
                                k-data-text-field="'name'"
                                k-data-value-field="'value'"
                                k-data-source="vm.periods"
                                style="padding-left:0;padding-right:0"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3">
                        <button class="k-button" ng-click="vm.scheduleSubmit()" ng-disabled="schedule.$invalid||!vm.scheduleFlow.startTime">提交</button>
                        <button class="k-button" ng-click="vm.scheduleCancel()">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="content-container">
        <div id="page-content">
            <div class="panel">
                <form name="flow" novalidate>
                    <div class="panel-body">

                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">主题</label>
                                        <div class="col-sm-8 ">
                                            <select class="col-sm-12" name="theme"
                                                    ng-model="vm.workflow.themeId"
                                                    kendo-combo-box
                                                    k-on-change="vm.themeChange(vm.workflow.themeId)"
                                                    k-data-text-field="'themeName'"
                                                    k-data-value-field="'themeId'"
                                                    k-data-source="vm.themes"
                                                    style="padding-left:0;padding-right:0"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">层级</label>
                                        <div class="col-sm-8 ">
                                            <select name="layer" class="col-sm-12"
                                                    ng-model="vm.workflow.layerId"
                                                    kendo-combo-box
                                                    k-data-text-field="'layerName'"
                                                    k-data-value-field="'layerId'"
                                                    k-data-source="vm.layers"
                                                    style="padding-left:0;padding-right:0">123123</select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工作流名称</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="workflowName" workflowName
                                                   ng-model="vm.workflow.workflowName" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工作流描述</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="description"
                                                   ng-model="vm.workflow.description" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
						<span class="btn btn-success" ng-click="vm.search()"
                              type="submit">查询</span>
                    </div>
                </form>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <kendo-grid id="grid" k-options="vm.gridOptions"></kendo-grid>
                </div>
            </div>

        </div>
    </body>
    </html>
