<#include "../../include/header.html">
    <style>
        .fieldlist {
            margin: 0 0 -1em;
            padding: 0;
        }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }
    </style>
    <script src="${base.contextPath}/resources/js/dispatch/config/module.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/controller/workflow/workflowListController.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/service/common/httpService.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/service/workflow/workflowService.js"></script>
    <script src="${base.contextPath}/lib/moment.min.js"></script>
    <body ng-app="dispatch" ng-controller="workflowListController as vm">
    <script src="${base.contextPath}/common/language?var=languageData" type="text/javascript"></script>
    <div kendo-window="vm.createWindow"
         k-title="'创建任务流'"
         k-actions="['Maximize', 'Close']"
         k-modal="true"
         k-width="600"
         k-on-open="vm.createWindow.visible = true"
         k-on-close="vm.createWindow.visible = false"
         k-visible="false">
        <iframe id="createWindow" src="${base.contextPath}/dispatch/workflow/workflow_create.html" style="height: 100%;width:100%;" frameborder="0"></iframe>
    </div>
    <div kendo-window="vm.updateWindow"
         k-title="'编辑任务流'"
         k-actions="['Maximize', 'Close']"
         k-modal="true"
         k-width="600"
         k-on-open="vm.updateWindow.visible = true"
         k-on-close="vm.updateWindow.visible = false"
         k-visible="false">
        <iframe id="updateWidow" src="${base.contextPath}/dispatch/workflow/workflow_update.html" style="height: 100%;width:100%;" frameborder="0"></iframe>
    </div>
    <div id="content-container">
        <div id="page-content">
            <div class="panel">
                <form name="flow" novalidate>
                    <div class="panel-body">

                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">任务组</label>
                                        <div class="col-sm-8 ">
                                            <select class="col-sm-12" name="theme"
                                                    ng-model="vm.workflow.themeId"
                                                    kendo-combo-box
                                                    k-on-change="vm.themeChange(vm.workflow.themeId)"
                                                    k-data-text-field="'themeName'"
                                                    k-data-value-field="'themeId'"
                                                    k-data-source="vm.themes"
                                                    style="padding-left:0;padding-right:0;width:100%;"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">层级</label>
                                        <div class="col-sm-8 ">
                                            <select name="layer" class="col-sm-12"
                                                    ng-model="vm.workflow.layerId"
                                                    kendo-combo-box
                                                    k-data-text-field="'layerName'"
                                                    k-data-value-field="'layerId'"
                                                    k-data-source="vm.layers"
                                                    style="padding-left:0;padding-right:0;width:100%;">123123</select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-horizontal">
                            <div class="panel-body col-sm-offset-0">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">任务流名称</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="workflowName"
                                                   style="padding-left:0;padding-right:0;width:100%;"
                                                   ng-model="vm.workflow.workflowName" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">任务流描述</label>
                                        <div class="col-sm-8 ">
                                            <input class="col-sm-12 k-textbox" name="description"
                                                   style="padding-left:0;padding-right:0;width:100%;"
                                                   ng-model="vm.workflow.description" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
						<span class="btn btn-success" ng-click="vm.search()"
                              type="submit">查询</span>
                    </div>
                </form>
            </div>

            <div class="panel">

                <div class="panel-body">
                    <div class="row" style="margin-bottom:1em;">
                        <div class="btn btn-success" ng-click="vm.create()">创建</div>
                    </div>
                    <kendo-grid id="grid" k-options="vm.gridOptions"></kendo-grid>
                </div>
            </div>

        </div>
    </body>
    </html>
