<#include "../../include/hdispatch_header.html">
    <link rel="stylesheet" href="../../lib/jointJS/joint.css"/>
    <script src="${base.contextPath}/lib/jointJS/hotkeys.js"></script>
    <script src="${base.contextPath}/lib/jointJS/lodash.min.js"></script>
    <script src="${base.contextPath}/lib/jointJS/dagre.js"></script>
    <script src="${base.contextPath}/lib/jointJS/graphlib.min.js"></script>
    <script src="${base.contextPath}/lib/jointJS/backbone-min.js"></script>
    <script src="${base.contextPath}/lib/jointJS/joint.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/service/workflow/paint.all.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/config/module.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/config/ml.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/controller/workflow/workflowCreateController.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/service/common/httpService.js"></script>
    <script src="${base.contextPath}/resources/js/dispatch/service/workflow/workflowService.js"></script>
    <body ng-app="dispatch" ng-controller="workflowCreateController as vm">
    <div id="content-container">
        <div kendo-window="vm.jobWindow" k-title="'<@spring.message "hdispatch.workflow.add_job "/>'" k-modal="true" k-width="600"
             k-on-open="vm.jobWindow.visible = true"
             k-on-close="vm.jobWindow.visible = false" k-visible="false">
            <form name="job" class="form-horizontal" style="width:100%" novalidate>
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "hdispatch.job.job_name"/></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="vm.newJob.name" name="jobName" class="k-textbox col-sm-12"
                                   style="padding-left:0;padding-right:0;width:100%;"
                                   ng-pattern="'^[a-zA-Z][a-zA-z_0-9]{0,}$'" required/>
                            <span style="color:red;" ng-show="job.jobName.$error.pattern">名称必须以字母开始，只能包含字母数字和_</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "resource.type"/></label>
                        <div class="col-sm-8 ">
                            <select class="col-sm-12" name="theme"
                                    ng-model="vm.newJob.type"
                                    k-on-change="vm.jobTypeChange()"
                                    kendo-drop-down-list
                                    style="padding-left:0;padding-right:0;width:100%;">
                                <option value="job"><@spring.message "hdispatch.workflow.job"/></option>
                                <option value="flow"><@spring.message "hdispatch.workflow"/></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.newJob.type=='flow'">
                        <label class="col-sm-2 control-label"><@spring.message "hdispatch.theme_name"/></label>
                        <div class="col-sm-8 ">
                            <select class="col-sm-12" name="theme"
                                    ng-model="vm.newJob.themeId"
                                    kendo-drop-down-list
                                    k-on-change="vm.jobThemeChange()"
                                    k-data-text-field="'themeName'"
                                    k-data-value-field="'themeId'"
                                    k-data-source="vm.themes" style="padding-left:0;padding-right:0;width:100%;"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.newJob.type=='flow'">
                        <label class="col-sm-2 control-label"><@spring.message "hdispatch.layer"/></label>
                        <div class="col-sm-8 ">
                            <select class="col-sm-12" name="layer"
                                    ng-model="vm.newJob.layerId"
                                    kendo-drop-down-list
                                    k-on-change="vm.jobLayerChange()"
                                    k-data-text-field="'layerName'"
                                    k-data-value-field="'layerId'"
                                    k-data-source="vm.jobLayers" style="padding-left:0;padding-right:0;width:100%;"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "hdispatch.workflow.job_source"/></label>
                        <div class="col-sm-8 ">
                            <select class="col-sm-12" name="jobSource"
                                    kendo-drop-down-list
                                    ng-model="vm.newJob.jobSource"
                                    k-data-text-field="'jobName'"
                                    k-data-value-field="'jobId'"
                                    k-data-source="vm.jobSources"
                                    style="padding-left:0;padding-right:0;width:100%;"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click="vm.createJob()"
                                    ng-disabled="job.$invalid||!vm.newJob.jobSource">
                                <@spring.message "hap.confirm"/>
                            </button>
                            <button class="btn btn-danger" ng-click="vm.resetWindow()"><@spring.message "hap.cancel"/></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel">
            <div class="panel-body col-sm-offset-0">
                <form name="flow" class="row" novalidate>
                    <div class="row form-horizontal">
                        <div class="panel-body col-sm-offset-0">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><@spring.message "hdispatch.theme_name"/></label>
                                    <div class="col-sm-8 ">
                                        <select class="col-sm-12" name="theme"
                                                ng-model="vm.workflow.themeId"
                                                kendo-drop-down-list
                                                k-on-change="vm.themeChange()"
                                                k-data-text-field="'themeName'"
                                                k-data-value-field="'themeId'"
                                                k-data-source="vm.optThemes"
                                                style="padding-left:0;padding-right:0;width:100%;"></select>
                                        <span style="color:red;" ng-show="flow.theme.$dirty&&!vm.workflow.themeId"><@spring.message "hdispatch.workflow.theme.select"/></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><@spring.message "hdispatch.layer"/></label>
                                    <div class="col-sm-8 ">
                                        <select name="layer" class="col-sm-12"
                                                ng-model="vm.workflow.layerId"
                                                kendo-drop-down-list
                                                k-data-text-field="'layerName'"
                                                k-data-value-field="'layerId'"
                                                k-on-change="vm.layerChange()"
                                                k-data-source="vm.layers"
                                                style="padding-left:0;padding-right:0;width:100%;"></select>
                                        <span style="color:red;"
                                              ng-show="flow.layer.$dirty&&!vm.workflow.layerId"><@spring.message "hdispatch.workflow.layer.select"/></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-horizontal">
                        <div class="panel-body col-sm-offset-0">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><@spring.message "hdispatch.flowlist.flowname"/></label>
                                    <div class="col-sm-8 ">
                                        <input class="col-sm-12 k-textbox" name="workflowName" workflowName
                                               ng-model="vm.workflow.workflowName" type="text"
                                               ng-pattern="'^[a-zA-Z][a-zA-z_0-9]{0,}$'"
                                               style="padding-left:0;padding-right:0;width:100%;" required/>
                                        <span style="color:red;"
                                              ng-show="flow.workflowName.$dirty&&flow.workflowName.$error.required">请输入任务流名称</span>
                                        <span style="color:red;" ng-show="flow.workflowName.$error.pattern">名称必须以字母开始，只能包含字母数字和_</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><@spring.message "hdispatch.flowlist.description"/></label>
                                    <div class="col-sm-8 ">
                                        <input class="col-sm-12 k-textbox" name="description"
                                               ng-model="vm.workflow.description" type="text"
                                               style="padding-left:0;padding-right:0;width:100%;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button class="btn btn-info" ng-click="vm.jobWindow.center().open()"><@spring.message "hdispatch.workflow.add_job"/></button>
                    <button class="btn btn-danger" ng-click="vm.paint.deleteSelectedNode()"><@spring.message "hdispatch.delete"/></button>
                    <button class="btn btn-success" ng-click="vm.format()"><@spring.message "hdispatch.workflow.format"/></button>
                    <button class="btn btn-primary" ng-click="vm.save()"
                            ng-disabled="flow.$invalid||!vm.workflow.themeId||!vm.workflow.layerId"><@spring.message "hdispatch.create"/>
                    </button>
                    <button class="btn btn-info" ng-click="vm.generateWorkflow()" ng-disabled="!vm.workflow.workflowId">
                        <@spring.message "hdispatch.workflow.generate"/>
                    </button>
                    <a href="${base.contextPath}/dispatch/workflow/workflow_list.html" class="btn btn-danger"><@spring.message "hdispatch.workflow.returnlist"/></a>
                </div>
            </div>
            <div id="graphScroll" class="panel col-sm-offset-0" style="overflow: scroll; height:600px;">
                <div id="graph"></div>
                <ul id="blankMenu">
                    <li id="createJob"><@spring.message "hdispatch.workflow.add_job"/></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
    </html>