<#-- * description: 角色界面 * version: 1.0
        *author:zhilong.deng@hand-china.com * #{copyright}# * -->
    <#include
            "../../include/header.html">
        <body>
        <script src="${base.contextPath}/common/language?var=languageData"
                type="text/javascript"></script>
        <div id="tipDelete"></div>
        <div id="dialog"></div>
        <div id="content-container">
            <div id="page-content">
                <div class="panel">
                    <form class="form-horizontal">
                        <div class="panel-body">

                            <!-- roleCode -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message
                                        "hdispatch.flowlist.flowname"/></label>
                                    <div class="col-sm-6">
                                        <input type="text" data-bind="value:model.flowName"
                                               class="k-textbox">
                                    </div>
                                </div>
                            </div>
                            <!-- roleCode  end-->

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message
                                        "hdispatch.flowlist.projectname"/></label>
                                    <div class="col-sm-6">
                                        <input type="text" data-bind="value:model.projectName"
                                               class="k-textbox">
                                    </div>
                                </div>
                            </div>

                            <!--  panel body end -->
                            <!-- -  panel-footer -->
                            <div class="panel-footer text-right">
						<span class="btn btn-success" data-bind="click:queryResource"
                              type="submit"><@spring.message "hap.query"/></span>
                            </div>
                            <!-- end panel-footer -->
                    </form>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div id="flowGrid" class="table"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../../../lib/dateformat.js"></script>
        <script type="text/javascript">
            var grid;

            function openEditPage(flowId) {
                var dialog = $("#dialog").kendoWindow({
                    actions: ["Maximize", "Minimize", "Close"],
                    width: 920,
                    height: 450,
                    title: schId + ' Scheduled Detail',
                    visible: false,
                    iframe: true,
                    content: 'editpage.html?flowId=' + flowId
                }).data("kendoWindow");
                dialog.center().open();
            }

            $(document)
                    .ready(
                            function () {

                                var viewModel = kendo.observable({
                                    model: {},
                                    queryResource: function (e) {
                                        $('#flowGrid').data('kendoGrid').dataSource
                                                .read();
                                    }
                                });

                                kendo.bind($('#page-content'), viewModel);

                                var crudServiceBaseUrl = '${base.contextPath}/schedule', dataSource = new kendo.data.DataSource(
                                        {
                                            transport: {
                                                read: {
                                                    url: crudServiceBaseUrl
                                                    + "/queryschedule",
                                                    contentType: "application/json",
                                                    type: "GET"
                                                },
                                                parameterMap: function (options,
                                                                        type) {
                                                    if (type === "read") {
                                                        var model = viewModel.model;
                                                        var map = {};
                                                        if (model.flowName) {
                                                            map.flow_id = model.flowName;
                                                        }
                                                        if (model.projectName) {
                                                            map.project_id = model.projectName;
                                                        }
                                                        if (options.page) {
                                                            map.page = options.page;
                                                        }
                                                        if (options.pageSize) {
                                                            map.pagesize = options.pageSize;
                                                        }
                                                        return map;
                                                    } else {
                                                        var datas = options.models;
                                                        return kendo
                                                                .stringify(datas);
                                                    }
                                                }
                                            },
                                            batch: true,
                                            serverPaging: true,
                                            pageSize: 20,
                                            schema: {
                                                data: 'rows',
                                                total: 'total',
                                                model: {
                                                    id: "flowId",
                                                    fields: {
                                                        projectName: {
                                                            type: "string"
                                                        },
                                                        job: {
                                                            type: "string"
                                                        },
                                                        level: {
                                                            type: "string"
                                                        }

                                                    }
                                                },
                                                errors: function (res) {
                                                    if (!res.success && res.message) {
                                                        return res.message;
                                                    }
                                                }
                                            },
                                            error: function (e) {

                                            }
                                        });

                                grid = $("#flowGrid")
                                        .kendoGrid(
                                                {
                                                    dataSource: dataSource,
                                                    //width:500,
                                                    navigatable: true,
                                                    resizable: true,
                                                    reorderable: true,
                                                    scrollable: true,
                                                    editable: false,
                                                    pageable: {
                                                        pageSizes: [5, 10, 20, 50],
                                                        refresh: true,
                                                        buttonCount: 5,
                                                        messages: {
                                                            noRecords: "未找到任何数据",
                                                            display: "{0} - {1} 共 {2} 条数据",
                                                            empty: "没有数据",
                                                            page: "页",
                                                            of: "/ {0}",
                                                            itemsPerPage: "条每页",
                                                            first: "第一页",
                                                            previous: "前一页",
                                                            next: "下一页",
                                                            last: "最后一页",
                                                            refresh: "刷新"
                                                        }
                                                    },
                                                    columns: [
                                                        {
                                                            field: "flowId",
                                                            title: '<@spring.message "hdispatch.flowlist.flowname"/>',
                                                            width: 80
                                                        },
                                                        {
                                                            field: "projectName",
                                                            title: '<@spring.message "hdispatch.flowlist.projectname"/>',
                                                            width: 200
                                                        },
                                                        {
                                                            field: "job",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.period"/>',
                                                            width: 180
                                                        },
                                                        {
                                                            field: "level",
                                                            title: '层',
                                                            width: 180
                                                        },
                                                        {
                                                            field: "",
                                                            title: 'SET SLA ACTION',
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = "<button  class='btn btn-info'onclick='openEditPage(\"" + item.flowId + "\")'"
                                                                        + ">编辑"
                                                                        + "</button>";
                                                                return html;
                                                            }
                                                        }]
                                                }).data("kendoGrid");

                            });
        </script>
        </body>
        </html>
