<#-- * description: 角色界面 * version: 1.0
        *author:zhilong.deng@hand-china.com * #{copyright}# * -->
    <#include
            "../../include/header.html">
        <body>
        <script type="text/javascript">
            $.ajax({
                type: 'GET',
                url: "${base.contextPath}/dispatcher/theme/queryAll_opt" ,
                success: function (data) {
                    filter_to_operate_themeIds = [];
//            console.log(data);
                    $.each(data.rows, function (key,value) {
                        filter_to_operate_themeIds.push(value.themeId);
//                console.log(key+"-------"+value);
                    });
                    console.log(filter_to_operate_themeIds);
                },
                async:false,
                dataType: "json"
            });
            console.log("加载权限验证数组完毕");
        </script>
        <script src="${base.contextPath}/lib/flatpickr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="${base.contextPath}/lib/flatpickr.min.css">
        <script src="${base.contextPath}/common/language?var=languageData"
                type="text/javascript"></script>
        <div id="tipDelete"></div>
        <div id="dialog"></div>
        <div id="content-container">
            <div id="page-content">
                <div class="panel">
                    <form class="form-horizontal">
                        <div class="panel-body">

                            <!-- roleCode -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"><@spring.message
                                        "hdispatch.flowlist.flowname"/></label>
                                    <div class="col-sm-6">
                                        <input type="text" data-bind="value:model.flowName"
                                               class="k-textbox">
                                    </div>
                                </div>
                            </div>
                            <!-- roleCode  end-->

                          <!--  <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><@spring.message
                                        "hdispatch.flowlist.projectname"/></label>
                                    <div class="col-sm-6">
                                        <input type="text" data-bind="value:model.projectName"
                                               class="k-textbox">
                                    </div>
                                </div>
                            </div>-->


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"><@spring.message
                                        "hdispatch.flowlist.date"/></label>
                                    <div class="col-sm-6">
                                        <input id="picker" data-enable-time="true" data-time_24hr="true"
                                               data-bind="value:model.date"
                                               class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  panel body end -->
                        <!-- -  panel-footer -->
                        <div class="panel-footer text-right">
						<span class="btn btn-success" data-bind="click:queryResource"
                              type="submit"><@spring.message "hap.query"/></span>
                            <span class="btn btn-default" data-bind="click:resetFunction" type="button"><@spring.message "hap.reset"/></span>
                        </div>
                        <!-- end panel-footer -->
                    </form>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div id="flowGrid" class="table"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="${base.contextPath}/lib/dateformat.js"></script>
        <script type="text/javascript">
            document.getElementById("picker").flatpickr();
            document.getElementById("picker").removeAttribute("readonly");
            var grid;
            function removesch(id, fid, pid,themeid) {
                if (!hasOperatePermission(themeid)) {
                    alert("您没有权限操作此调度任务！");
                }else {
                   /* if (confirm("确定取消调度？")) {
                        flowoperation_ajax(id, fid, pid,
                                '${base.contextPath}/schedule/unschedule');
                        $('#flowGrid').data('kendoGrid').dataSource.read();
                    } else {
                        $('#flowGrid').data('kendoGrid').dataSource.read();
                        return;
                    }*/
                    kendo.ui.showConfirmDialog({
                        title:$l('hap.tip.info'),
                        message:'确定取消调度？'
                    }).done(function(event){
                        if(event.button == 'OK'){
                            flowoperation_ajax(id, fid, pid,
                                    '${base.contextPath}/schedule/unschedule');
                            $('#flowGrid').data('kendoGrid').dataSource.read();
                        }
                    })
                }

            }
            function flowoperation_ajax(id, fid, pid, url) {
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    data: {
                        schId: id,
                        fid: fid,
                        pid: pid
                    },
                    success: function (json) {
                        alert(json.message);
                    },
                    error: function () {
                        grid.refresh();
                    }
                });
            }
            function openSetSLAPage(schId, flowId, project,themeid) {
                if (!hasOperatePermission(themeid)) {
                    alert("您没有权限操作此调度任务！");
                }else {
                    var dialog = $("#dialog").kendoWindow({
                        //actions : [ "Maximize", "Minimize", "Close" ],
                        width: 920,
                        height: 450,
                        modal: true,
                        title: 'SLA 详情',
                        visible: false,
                        iframe: true,
                        content: 'setsla.html?schId=' + schId + '&flowId=' + flowId + '&project=' + project
                    }).data("kendoWindow");
                    dialog.maximize().open();
                }
            }

            $(document)
                    .ready(
                            function () {

                                var viewModel = kendo.observable({
                                    model: {},
                                    queryResource: function (e) {
                                        $('#flowGrid').data('kendoGrid').dataSource
                                                .read();
                                    },
                                    resetFunction: function (e) {
                                        var formData = viewModel.model.toJSON();
                                        for ( var k in formData) {
                                            viewModel.model.set(k, null);
                                        }
                                        document.getElementById("picker").value= '';
                                    }
                                });

                                kendo.bind($('#page-content'), viewModel);

                                var crudServiceBaseUrl = '${base.contextPath}/schedule', dataSource = new kendo.data.DataSource(
                                        {
                                            transport: {
                                                read: {
                                                    url: crudServiceBaseUrl
                                                    + "/queryschedule",
                                                    contentType: "application/json",
                                                    type: "GET"
                                                },
                                                parameterMap: function (options,
                                                                        type) {
                                                    if (type === "read") {
                                                        var model = viewModel.model;
                                                        var map = {};
                                                        if (model.flowName) {
                                                            map.flow_id = model.flowName;
                                                        }
                                                        if (model.projectName) {
                                                            map.project_name = model.projectName;
                                                        }
                                                        if (document.getElementById("picker").value != '') {
                                                            map.submitdate = new Date(document.getElementById("picker").value).getTime();
                                                        }
                                                        if (options.page) {
                                                            map.page = options.page;
                                                        }
                                                        if (options.pageSize) {
                                                            map.pagesize = options.pageSize;
                                                        }
                                                        return map;
                                                    } else {
                                                        var datas = options.models;
                                                        return kendo
                                                                .stringify(datas);
                                                    }
                                                }
                                            },
                                            batch: true,
                                            serverPaging: true,
                                            pageSize: 50,
                                            schema: {
                                                data: 'rows',
                                                total: 'total',
                                                model: {
                                                    id: "scheduleId",
                                                    fields: {
                                                        flowId: {
                                                            type: "string"
                                                        },
                                                        projectName: {
                                                            type: "string"
                                                        },
                                                        firstSchedTime: {
                                                            type: "string"
                                                        },
                                                        nextExecTime: {
                                                            type: "String"
                                                        },
                                                        period: {
                                                            type: "string"
                                                        },
                                                        cronExpression:{
                                                            type:"string"
                                                        },
                                                        hasSla: {
                                                            type: "string"
                                                        }

                                                    }
                                                },
                                                errors: function (res) {
                                                    if (!res.success && res.message) {
                                                        return res.message;
                                                    }
                                                }
                                            },
                                            error: function (e) {

                                            }
                                        });

                                grid = $("#flowGrid")
                                        .kendoGrid(
                                                {
                                                    dataSource: dataSource,
                                                    //width:500,
                                                    navigatable: true,
                                                    resizable: true,
                                                    reorderable: true,
                                                    columnMenu: true,
                                                    scrollable: true,
                                                    editable: false,
                                                    sortable: true,
                                                    pageable: {
                                                        pageSizes: [10, 20, 50,100],
                                                        refresh: true,
                                                        buttonCount: 5,
                                                        messages: {
                                                            noRecords: "未找到任何数据",
                                                            display: "{0} - {1} 共 {2} 条数据",
                                                            empty: "没有数据",
                                                            page: "页",
                                                            of: "/ {0}",
                                                            itemsPerPage: "条每页",
                                                            first: "第一页",
                                                            previous: "前一页",
                                                            next: "下一页",
                                                            last: "最后一页",
                                                            refresh: "刷新"
                                                        }
                                                    },
                                                    columns: [
                                                      /*  {
                                                            field: "scheduleId",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.scheduleid"/>',
                                                            width: 140
                                                        },*/
                                                        {
                                                            field: "flowId",
                                                            title: '<@spring.message "hdispatch.flowlist.flowname"/>',
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = item.flowId.substr(1);

                                                                return html;
                                                            }
                                                        },
                                                       /* {
                                                            field: "projectName",
                                                            title: '<@spring.message "hdispatch.flowlist.projectname"/>',
                                                            width: 200
                                                        },*/
                                                        {
                                                            field: "firstSchedTime",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.firstschtime"/>',
                                                            width: 150
                                                        },
                                                        {
                                                            field: "nextExecTime",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.nextexextime"/>',
                                                            width: 150
                                                        },
                                                      /*  {
                                                            field: "period",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.period"/>',
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = item.period;
                                                                if (item.period == "null")
                                                                    html = "--";
                                                                return html;
                                                            }
                                                        },*/
                                                        {
                                                            field: "cronExpression",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.cronexpression"/>',
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = item.cronExpression;
                                                                if (item.cronExpression == "null")
                                                                    html = "--";
                                                                return html;
                                                            }
                                                        },
                                                        {
                                                            field: "hasSla",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.hassla"/>',
                                                            width: 70
                                                        },
                                                        {
                                                            field: "",
                                                            title: '<@spring.message "hdispatch.schedule.schlist.removesla"/>',
                                                            attributes: {style: "padding:0"},
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = "<center><button class='btn btn-danger'style='text-align:center;'"
                                                                        + "onclick=removesch('"
                                                                        + item.scheduleId
                                                                        + "','" + item.flowId + "','" + item.projectId + "','" + item.themeId + "')"
                                                                        + "><@spring.message 'schflows.removesch'/>"
                                                                        + "</button></center>";
                                                                return html;
                                                            }
                                                        },
                                                        {
                                                            field: "",
                                                            title: '<@spring.message "schflows.setsla"/>',
                                                            attributes: {style: "padding:0"},
                                                            width: 100,
                                                            template: function (item) {
                                                                var html = "<center><button  class='btn btn-info'style='margin-left: auto;margin-right: auto;text-align:center;'onclick='openSetSLAPage(\""
                                                                        + item.scheduleId
                                                                        + "\",\"" + item.flowId + "\",\"" + item.projectName + "\",\"" + item.themeId + "\")'"
                                                                        + "><@spring.message 'schflows.setsla'/>"
                                                                        + "</button></center>";
                                                                return html;
                                                            }
                                                        }]
                                                }).data("kendoGrid");

                            });
        </script>
        </body>
        </html>
