<#include "../../include/header.html">
    <body>
    <div>
        <!--曾经出错原因：头部引用相对地址错误-->
        <div id="content-container">
            <div id="theme-content">
                <div class="panel">
                    <form class="form-horizontal">
                        <div class="panel-body col-sm-offset-0">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 20%">主题</label>
                                    <!--<div class="col-sm-4">-->
                                    <input id="input_themeId" type="text" style="width: 70%" data-bind="value:model.themeId">
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 20%">层次</label>
                                    <!--<div class="col-sm-4">-->
                                    <input id="input_layerId" type="text" style="width:70%" data-bind="value:model.layerId">
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 20%">任务名称</label>
                                    <!--<div class="col-sm-4">-->
                                    <input id="input_layerName" type="text" style="width:70%" data-bind="value:model.jobName" class="k-textbox">
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span class="btn btn-success" data-bind="click:queryResource" type="submit">查询</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="jobListGrid" style="clear:both"></div>
            </div>
            <div id="batchCreateJobWindow_div"></div>
        </div>
        <script type="text/javascript">
            var wnd, batchCreateJobWindowTemplate;

            var themeBaseUrl = "${base.contextPath}/dispatcher/theme/";
            var layerBaseUrl = "${base.contextPath}/dispatcher/layer/";
            var jobBaseUrl = "${base.contextPath}/dispatcher/job/";

            $(document).ready(function () {
                //声明批量创建job窗口
                wnd = $("#batchCreateJobWindow_div")
                        .kendoWindow({
                            title: "任务批量创建",
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 800,
                            height:450
                        }).data("kendoWindow");
                batchCreateJobWindowTemplate = kendo.template($("#batchCreateJobWindow_template").html());


                //声明主窗口
                var viewModel = kendo.observable({
                    model:{themeId:'',layerId:'',jobName:''},
                    queryResource: function(e) {
                        $('#jobListGrid').data('kendoGrid').dataSource.read();
                    }
                });
                //用于存储themeName、layerName，这种情况只适用于当前单行编辑
                var themeName_grid_line,layerName_grid_line;
                //存储grid中行内编辑的下拉框值
                var grid_dropdown_themeId;
                var grid_dropdown_layerId;
                //任务行表显示数据加载和窗口渲染
                var jobs_data = new kendo.data.DataSource({
                    transport: {
                        read:  {
                            url: jobBaseUrl+"query",
                            type : 'GET',
                            dataType: "json"
                        },
                        create: {
                            url: jobBaseUrl+'submit',
                            type : 'POST',
                            dataType: "json",
                            contentType:"application/json"
                        },
                        update: {
                            url: jobBaseUrl + "update",
                            type : 'POST',
                            dataType: "application/json",
                            contentType:"application/json"
                        },
                        destroy: {
                            url: jobBaseUrl + "remove",
                            type : 'POST',
                            dataType: "application/json",
                            contentType:"application/json"
                        },
                        parameterMap: function(options, operation) {
                            //封装请求参数
                            if (operation !== "read" && options.models) {
                                var datas = options.models;
                                if(operation =='create' || operation =='update'){
                                    datas = options.models.map(function(data){
                                        data['__status'] = (operation =='create' ? 'add' : 'update');
                                        //这种情况只适用于当前单行情况
                                        if(operation =='create'){
                                            data['themeName'] = themeName_grid_line;
                                            data['layerName'] = layerName_grid_line;
                                            data['themeId'] = grid_dropdown_themeId;
                                            data['layerId'] = grid_dropdown_layerId;
                                        }
                                        return data;
                                    });
                                }
                                if('destroy'==operation){
                                    datas = options.models.map(function(data){
                                        data['__status'] = 'delete';
                                        return data;
                                    });
                                }

                                var data_str = kendo.stringify(datas);
                                jobs_data = data_str;
                                return data_str;
                            } else if (operation === "read") {
                                var model = viewModel.model;
                                if(!model.themeId){
                                    model.themeId='-100';
                                }
                                if(!model.layerId){
                                    model.layerId='-100';
                                }
                                if(!model.jobName){
                                    model.jobName=' ';
                                }

                                var map = {themeId: model.themeId,layerId: model.layerId,jobName:model.jobName};
                                if (options.page)
                                    map.page = options.page;
                                if (options.pageSize)
                                    map.pageSize = options.pageSize;
                                for(var k in map){
                                    if(map[k]==='')delete map[k]
                                }
                                return map;
                            }
                        }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 5,
                    selectable: "multiple",
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: 'jobId',
                            fields: {
                                themeId: { type: 'number',validation: { required: true } },
                                layerId: { type: 'number',validation: { required: true } },
                                jobId: { type: 'number',validation: { required: true } },
                                themeName: { type: 'string',validation: { required: true } },
                                layerName: { type: 'string',validation: { required: true } },
                                jobName: { type: 'string',validation: { required: true } },
                                jobSvn: { type: 'string',validation: { required: true } }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    }
                });
                var jobListGrid_kendo = $("#jobListGrid").kendoGrid({
                    dataSource: jobs_data,
                    resizable: true,
                    selectable: "single",
                    scrollable: false,
                    pageable: {
                        pageSizes:[5, 10, 20, 50],
                        refresh:true,
                        buttonCount:5,
                        messages: {
                            noRecords: "未找到任何数据",
                            display: "{0} - {1} 共 {2} 条数据",
                            empty: "没有数据",
                            page: "页",
                            of: "/ {0}",
                            itemsPerPage: "条每页",
                            first: "第一页",
                            previous: "前一页",
                            next: "下一页",
                            last: "最后一页",
                            refresh: "刷新"
                        }
                    },
                    toolbar: [
                        {
                            name:"create",
                            text:'创建'
                        },
//                        {
//                            name:"save",
//                            text:'保存'
//                        },
//                        {
//                            name:"cancel",
//                            text:'取消'
//                        },
                        {
                            name:"batchCreateJob",
                            text:"批量新建",
                        }
                    ],
                    columns:
                        [
                            { 'field': 'jobId','hidden':true },
                            { 'field': 'themeId','title':'主题名称', 'width': "100px", editor: themeDropDownEditor, template: "#=themeName#" },
                            { 'field': 'layerId','title':'层次名称', 'width': "100px", editor: layerDropDownEditor, template: "#=layerName#" },
                            { 'field': 'jobName','title':'任务名称', 'width': "100px" },
                            { 'field': 'jobSvn','title':'SVN文件', 'width': "200px" },
//                            { command: ["edit"], text:"编辑", title: "&nbsp;", width: "200px" },
                            { command: ["edit"], text:{edit:"编辑",update:"保存",cancel:"取消"}, title: "&nbsp;", width: "200px" },
//                            { command: ["destroy"], text:"删除", title: "&nbsp;", width: "80px" }
                            { command: "destroy", text:{destroy:"删除"}, title: "&nbsp;", width: "80px" }
                        ],
                    editable: "inline"
                });
                //自定义toolbar中的按钮
                $(".k-grid-batchCreateJob").click(function(e){
                    console.log("自定义按钮事件");
                    showBatchCreateJobWindow(e);
                });

                //声明grid中的下拉框
                var grid_themeDropDown_dataSource=new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: themeBaseUrl+"queryAll",
                            type : 'GET',
                            dataType: "json"
                        },
                        parameterMap: function(options, operation) {
                            if (operation === "read") {
                                var map = {};

                                for(var k in map){
                                    if(map[k]==='')delete map[k]
                                }
                                return map;
                            }
                        }
                    },
                    schema: {
                        data:'rows',
                        model: {
                            id: 'themeId',
                            fields: {
                                themeId: { type: 'number',validation: { required: true } },
                                themeName: { type: 'string',validation: { required: true } }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    }
                });
                var grid_themeDropDownList;
                function themeDropDownEditor(container, options) {
                    grid_themeDropDownList = $('<input id="grid_dropdown_theme_input" required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: true,
                            dataTextField: "themeName",
                            dataValueField: "themeId",
                            dataBound:onGridThemeDataBound,
                            change: onGridThemeChange,
                            select:onGridThemeSelect,
                            close:onGridThemeClose,
                            dataSource:grid_themeDropDown_dataSource
                        });

                };

                var grid_layerDropDown_dataSource =  new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: layerBaseUrl+"queryAll",
                            type : 'GET',
                            dataType: "json"
                        },
                        parameterMap: function(options, operation) {
                            if (operation === "read") {
                                var map = {};
                                if(!grid_dropdown_themeId){
                                    grid_dropdown_themeId='-100';
                                }
                                map.themeId=grid_dropdown_themeId;
                                for(var k in map){
                                    if(map[k]==='')delete map[k]
                                }
                                return map;
                            }else{
                                console.log("layerId:没有进入加载读取数据");
                            }
                        }
                    },
                    schema: {
                        data:'rows',
                        model: {
                            id: 'layerId',
                            fields: {
                                layerId: { type: 'number',validation: { required: true } },
                                layerName: { type: 'string',validation: { required: true } }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    }
                });
                var grid_layerDropDownList;
                function layerDropDownEditor(container, options) {
                    grid_layerDropDownList = $('<input id="grid_dropdown_layer_input" required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: true,
                            dataTextField: "layerName",
                            dataValueField: "layerId",
                            dataBound:onGridLayerDataBound,
                            open:onGridLayerChange,
                            select:onGridLayerSelect,
                            close:onGridLayerClose,
                            dataSource:grid_layerDropDown_dataSource
                    });
                };

                function onGridThemeDataBound(e) {
                    grid_dropdown_themeId = $("#grid_dropdown_theme_input").val();
                    //获取对应的themeName值
                    var color = $("#grid_dropdown_theme_input").data("kendoDropDownList");
                    themeName_grid_line = color.text();
                    grid_layerDropDown_dataSource.read();
                };
                function onGridThemeChange(e) {
                    grid_dropdown_themeId = $("#grid_dropdown_theme_input").val();
                    //获取对应的themeName值
                    var color = $("#grid_dropdown_theme_input").data("kendoDropDownList");
                    themeName_grid_line = color.text();
                    grid_layerDropDown_dataSource.read();
                };
                function onGridThemeSelect(e) {
                    grid_dropdown_themeId = $("#grid_dropdown_theme_input").val();
                    //获取对应的themeName值
                    var color = $("#grid_dropdown_theme_input").data("kendoDropDownList");
                    themeName_grid_line = color.text();
                    grid_layerDropDown_dataSource.read();
                };
                function onGridThemeClose(e) {
                    grid_dropdown_themeId = $("#grid_dropdown_theme_input").val();
                    //获取对应的themeName值
                    var color = $("#grid_dropdown_theme_input").data("kendoDropDownList");
                    themeName_grid_line = color.text();
                    grid_layerDropDown_dataSource.read();
                };

                function onGridLayerDataBound(e) {
                    grid_dropdown_layerId = $("#grid_dropdown_layer_input").val();
                    //获取对应的layerName值
                    var color = $("#grid_dropdown_layer_input").data("kendoDropDownList");
                    layerName_grid_line = color.text();
                };
                function onGridLayerChange(e) {
                    grid_dropdown_layerId = $("#grid_dropdown_layer_input").val();
                    //获取对应的layerName值
                    var color = $("#grid_dropdown_layer_input").data("kendoDropDownList");
                    layerName_grid_line = color.text();
                };
                function onGridLayerSelect(e) {
                    grid_dropdown_layerId = $("#grid_dropdown_layer_input").val();
                    //获取对应的layerName值
                    var color = $("#grid_dropdown_layer_input").data("kendoDropDownList");
                    layerName_grid_line = color.text();
                };
                function onGridLayerClose(e) {
                    grid_dropdown_layerId = $("#grid_dropdown_layer_input").val();
                    //获取对应的layerName值
                    var color = $("#grid_dropdown_layer_input").data("kendoDropDownList");
                    layerName_grid_line = color.text();
                };

                //声明两个查询用的下拉框
                var input_themeId_dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: themeBaseUrl+"queryAll",
                            type : 'GET',
                            dataType: "json"
                        },
                        parameterMap: function(options, operation) {
                            if (operation === "read") {
                                var map = {};

                                for(var k in map){
                                    if(map[k]==='')delete map[k]
                                }
                                return map;
                            }
                        }
                    },
                    schema: {
                        data:'rows',
                        model: {
                            id: 'themeId',
                            fields: {
                                themeId: { type: 'number',validation: { required: true } },
                                themeName: { type: 'string',validation: { required: true } }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    }
                });
                $("#input_themeId").kendoDropDownList({
                    optionLabel: "选择主题",
                    autoBind:true,
                    dataTextField: "themeName",
                    dataValueField: "themeId",
                    dataSource: input_themeId_dataSource,
                    change: onChange,
                    dataBound:onDataBound
                });
                var input_layerId_dataSource =  new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: layerBaseUrl+"queryAll",
                                type : 'GET',
                                dataType: "json"
                            },
                            parameterMap: function(options, operation) {
                                if (operation === "read") {
                                    var map = {};
                                    if(!viewModel.model.themeId){
                                        viewModel.model.themeId='-100';
                                    }
                                    map.themeId=viewModel.model.themeId;
                                    for(var k in map){
                                        if(map[k]==='')delete map[k]
                                    }
                                    return map;
                                }else{
                                    console.log("layerId:没有进入加载读取数据");
                                }
                            }
                        },
                        schema: {
                            data:'rows',
                            model: {
                                id: 'layerId',
                                fields: {
                                    layerId: { type: 'number',validation: { required: true } },
                                    layerName: { type: 'string',validation: { required: true } }
                                }
                            },
                            errors: function(res){
                                if(!res.success && res.message) {
                                    return res.message;
                                }
                            }
                        }
                    });
                $("#input_layerId").kendoDropDownList({
                    optionLabel: "选择层",
                    autoBind:true,
                    dataTextField: "layerName",
                    dataValueField: "layerId",
                    dataSource: input_layerId_dataSource,
                    dataBound:onDataBound_2
                });

                //绑定主页面的数据和视图
                kendo.bind($('#theme-content'),viewModel);

                function onChange() {
                    viewModel.model.themeId=$("#input_themeId").val();

                    input_layerId_dataSource.read();
                };
                function onDataBound(e) {
                    viewModel.model.themeId=$("#input_themeId").val();
                    input_layerId_dataSource.read();
                };
                function onDataBound_2(e) {
                    viewModel.model.layerId=$("#input_layerId").val();
                }
            });

            //显示批量创建job页面
            //声明批量创建job页面中的数据源
            var batchCreateJob_themeId_dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: themeBaseUrl+"queryAll",
                        type : 'GET',
                        dataType: "json"
                    },
                    parameterMap: function(options, operation) {
                        if (operation === "read") {
                            var map = {};

                            for(var k in map){
                                if(map[k]==='')delete map[k]
                            }
                            return map;
                        }
                    }
                },
                schema: {
                    data:'rows',
                    model: {
                        id: 'themeId',
                        fields: {
                            themeId: { type: 'number',validation: { required: true } },
                            themeName: { type: 'string',validation: { required: true } }
                        }
                    },
                    errors: function(res){
                        if(!res.success && res.message) {
                            return res.message;
                        }
                    }
                }
            });
            var batchCreateJob_layerId_dataSource =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: layerBaseUrl+"queryAll",
                        type : 'GET',
                        dataType: "json"
                    },
                    parameterMap: function(options, operation) {
                        if (operation === "read") {
                            var map = {};
                            if(!batchCreateJobViewModel.model.themeId){
                                batchCreateJobViewModel.model.themeId='-100';
                            }
                            map.themeId=batchCreateJobViewModel.model.themeId;
                            for(var k in map){
                                if(map[k]==='')delete map[k]
                            }
                            return map;
                        }else{
                            console.log("layerId:没有进入加载读取数据");
                        }
                    }
                },
                schema: {
                    data:'rows',
                    model: {
                        id: 'layerId',
                        fields: {
                            layerId: { type: 'number',validation: { required: true } },
                            layerName: { type: 'string',validation: { required: true } }
                        }
                    },
                    errors: function(res){
                        if(!res.success && res.message) {
                            return res.message;
                        }
                    }
                }
            });
//            var batchCreateJob_themeId;
//            var batchCreateJob_layerId;
            function showBatchCreateJobWindow(e) {
                e.preventDefault();

                wnd.content(batchCreateJobWindowTemplate);
                wnd.center().open();

                loadBatchCreateData();
            }

            var batchCreateJobViewModel;
            function loadBatchCreateData() {
                batchCreateJobViewModel = kendo.observable({
                    model:{
                        themeId:'',
                        layerId:'',
                        jobSvn:''
                    }
                });
                $("#batchCreateForm_input_themeId").kendoDropDownList({
                    autoBind:true,
                    dataTextField: "themeName",
                    dataValueField: "themeId",
                    dataSource: batchCreateJob_themeId_dataSource,
                    change: onThemeIdChange_batchCreateForm,
                    dataBound:onThemeIdDataBound_batchCreateForm,
                    close:onThemeIdClose_batchCreateForm
                });
                $("#batchCreateForm_input_layerId").kendoDropDownList({
                    autoBind:true,
                    dataTextField: "layerName",
                    dataValueField: "layerId",
                    dataSource: batchCreateJob_layerId_dataSource,
                    dataBound:onLayerIdDataBound_batchCreateForm,
                    close:onLayerIdClose_batchCreateForm
                });
                var data = [
                    { text: "/HHHHH/JJJJJ/jobName1", value:"1" },
                    { text: "/HHHHH/JJJJJ/jobName2", value:"2" },
                    { text: "/HHHHH/JJJJJ/jobName3", value:"3" },
                    { text: "/DHHD/LK/jobName4", value:"4" },
                    { text: "/DHHD/LK/jobName5", value:"5" },
                    { text: "/DHHD/LK/jobName6", value:"6" },
                    { text: "/DHHD/LK/jobName7", value:"7" }
                ];

                $("#batchCreateForm_svn_input").kendoMultiSelect({
                    dataTextField: "text",
                    dataValueField: "text",
                    dataSource: data
                });

                kendo.bind($('#batchCreateJob-content'),batchCreateJobViewModel);
            }


            function onThemeIdChange_batchCreateForm(e) {
                batchCreateJobViewModel.model.themeId=$("#batchCreateForm_input_themeId").val();
                batchCreateJob_layerId_dataSource.read();
            }
            function onThemeIdDataBound_batchCreateForm(e) {
                batchCreateJobViewModel.model.themeId=$("#batchCreateForm_input_themeId").val();
                batchCreateJob_layerId_dataSource.read();
            }
            function onThemeIdClose_batchCreateForm(e) {
                batchCreateJobViewModel.model.themeId=$("#batchCreateForm_input_themeId").val();
                batchCreateJob_layerId_dataSource.read();
            }

            function onLayerIdDataBound_batchCreateForm(e) {
                batchCreateJobViewModel.model.layerId=$("#batchCreateForm_input_layerId").val();
            }
            function onLayerIdClose_batchCreateForm(e) {
                batchCreateJobViewModel.model.layerId=$("#batchCreateForm_input_layerId").val();
            }
        </script>


        <script type="text/x-kendo-template" id="batchCreateJobWindow_template">
            <div id="details-container">
                <div id="batchCreateJob-content">
                    <div id="batchCreateJobForm" style="clear:both">
                        <div>
                            <ul class="fieldList">
                                <li>
                                    <label for="batchCreateForm_input_themeId">主题</label>
                                    <input id="batchCreateForm_input_themeId"
                                           data-placeholder="选择主题"
                                           style="width: 100%;"
                                           data-bind="value:model.themeId"/>
                                </li>
                                <li>
                                    <label for="batchCreateForm_input_layerId">层次</label>
                                    <input id="batchCreateForm_input_layerId"
                                           class="k-selectbox"
                                           style="width: 100%;"
                                           data-placeholder="选择层次"
                                           data-bind="value:model.layerId"/>
                                </li>
                                <li>
                                    <label for="batchCreateForm_svn_input">SVN文件</label>
                                    <input id="batchCreateForm_svn_input"
                                           class="k-textbox"
                                           style="width: 100%;"
                                           data-bind="value:model.jobSvn"/>
                                </li>

                                <li>
                                    <button class="k-button k-primary k-submit">创建</button>
                                    &nbsp;
                                    <button class="k-button k-reset">重置</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</body>
    <style>
        .fieldList {
            margin: 0 0 -2em;
            padding: 0;
        }

        .fieldList li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldList label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            color: #444;
        }

    </style>
</html>