<#include "../../include/header.html">
    <body>
    <div>
        <div class="demo-section k-content">
            <div>
                <h4>Check nodes</h4>
                <div id="batchCreateForm_input_svn"></div>
            </div>
            <div style="padding-top: 2em;">
                <h4>Status</h4>
                <p id="result">No nodes checked.</p>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var serviceRoot = "${base.contextPath}/dispatcher/job/svnTree/query";
                homogeneous = new kendo.data.HierarchicalDataSource({
                    transport: {
                        read: {
                            url: serviceRoot,
                            type:"GET",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data:'rows',
                        model: {
                            id: "nodeId",
                            hasChildren: "hasChild",
                            fields: {
                                nodeId: { type: 'string',validation: { required: true } },
                                nodeName: { type: 'string',validation: { required: true } },
                                hasChild: { type: 'boolean',validation: { required: true } }
                            }
                        }
                    }
                });

                $("#batchCreateForm_input_svn").kendoTreeView({
                    checkboxes: {
                        checkChildren: true
                    },
                    dataSource: homogeneous,
                    dataTextField: "nodeName",
                    check: onCheck
                });
                // function that gathers IDs of checked nodes
                function checkedNodeIds(nodes, checkedNodes) {
                    console.log("进入checkedNodeIds");
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].checked && !nodes[i].hasChildren) {
                            checkedNodes.push(nodes[i].id);
                        }

                        if (nodes[i].hasChildren) {
                            checkedNodeIds(nodes[i].children.view(), checkedNodes);
                        }
                    }
                }

                // show checked node IDs on datasource change
                function onCheck(e) {
                    console.log("进入onCheck");
                    var checkedNodes = [],
                            treeView = $("#batchCreateForm_input_svn").data("kendoTreeView"),
                            message;
                    console.log("进入checkedNodeIds之前");
                    checkedNodeIds(treeView.dataSource.view(), checkedNodes);
                    console.log("进入checkedNodeIds之后");
                    if (checkedNodes.length > 0) {
                        message = "IDs of checked nodes: " + checkedNodes.join(",");
                    } else {
                        message = "No nodes checked.";
                    }

                    $("#result").html(message);
                }
            })
        </script>
        <style>
            #batchCreateForm_input_svn .k-sprite {
                background-image: url("../../../../lib/images/coloricons-sprite.png");
            }
            .rootfolder { background-position: 0 0; }
            .folder     { background-position: 0 -16px; }
            .pdf        { background-position: 0 -32px; }
            .html       { background-position: 0 -48px; }
            .image      { background-position: 0 -64px; }

        </style>
    </div>
</body>
</html>