<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <context:component-scan base-package="hdispatch.core.dispatch.manager"/>
    <!-- jndi dataSource-->
    <bean id="hdispathDataSource" class="com.hand.hap.core.JndiObjectFactoryBean">
        <property name="jndiName" value="${db.hdispatchJndiName}"/>
    </bean>

    <!-- mapper definition -->
    <bean id="hdispatchMapperScannerConfigurer" class="com.hand.hap.mybatis.spring.MapperScannerConfigurer">
        <property name="basePackage" value="*.**.mapper_hdispatch"/>
        <property name="processPropertyPlaceHolders" value="true"/>
        <property name="propertiesMap">
            <map>
                <entry key="mappers" value="com.hand.hap.mybatis.common.Mapper"/>
                <entry key="IDENTITY" value="${mybatis.identity}"/>
                <entry key="seqFormat" value="{3}_s.nextVal"/>
            </map>
        </property>
        <property name="sqlSessionTemplateBeanName" value="hdispatchSqlSession"/>
    </bean>

    <tx:annotation-driven transaction-manager="hdispatchTM"/>

    <!-- config mysql statements -->
    <bean id="hdispatchTM" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="hdispathDataSource"/>
    </bean>


    <bean id="hdispatchSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="hdispathDataSource"/>
        <property name="mapperLocations" value="classpath*:/**/*Mapper_hdispatch.xml"/>
        <property name="plugins">
            <array>
                <bean class="com.hand.hap.core.interceptor.RequestContextInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.MultiLanguageInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.SecurityTokenInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.OvnInterceptor"/>
                <bean class="com.github.pagehelper.PageHelper"/>
            </array>
        </property>
        <property name="configLocation" value="classpath:hdispatch-mybatis-configuration.xml"/>
    </bean>


    <bean id="hdispatchSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" name="sqlSessionFactory" ref="hdispatchSqlSessionFactory"/>
    </bean>

    <!--配置SVN服务器-->
    <!--<context:property-placeholder location="classpath:svnFileSys.properties"/>-->
    <bean id="svnConfig" name="svnConfig" class="hdispatch.core.dispatch.dto.job.SvnConfig" scope="singleton">
        <property name="ip" value="172.20.0.203"/>
        <property name="port" value="22"/>
        <property name="userName" value="hive"/>
        <property name="password" value="handoracle"/>
        <property name="rootPath" value="/home/ETL"/>
    </bean>

    <!--文件上传设置-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
        <!--<property name="maxInMemorySize" value="4098"/>-->
        <!--<property name="maxUploadSize" value="10485760000"/>-->
    <!--</bean>-->

    <bean id="dependencyListCache" class="hdispatch.core.dispatch.cache.String2ObjectCache">
        <constructor-arg index="0" value="dependencyList"></constructor-arg>
        <constructor-arg index="1" ref="v2redisConnectionFactory"></constructor-arg>
    </bean>

    <bean id="dependencyMapCache" class="hdispatch.core.dispatch.cache.String2ObjectCache">
        <constructor-arg index="0" value="dependencyMap"></constructor-arg>
        <constructor-arg index="1" ref="v2redisConnectionFactory"></constructor-arg>
    </bean>
</beans>