<#-- * description: 角色界面 * version: 1.0 *author:hailin.xu@hand-china.com
        * #{copyright}# * -->
    <#include "../../include/header.html">
        <body>
        <script type="text/javascript">
            $.ajax({
                type: 'GET',
                url: "${base.contextPath}/dispatcher/theme/queryAll_opt" ,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function (data) {
                    filter_to_operate_themeIds = [];
//            console.log(data);
                    $.each(data.rows, function (key,value) {
                        filter_to_operate_themeIds.push(value.themeId);
//                console.log(key+"-------"+value);
                    });
                    console.log(filter_to_operate_themeIds);
                },
                async:false,
                dataType: "json"
            });
            console.log("加载权限验证数组完毕");
        </script>
        <script src="${base.contextPath}/common/language?var=languageData"
                type="text/javascript"></script>
        <script src="${base.contextPath}/common/code?resourceTypeData=HDISPATCH.JOB_STATUS"
                type="text/javascript"></script>

        <!-- <div id="tabstrip">
            <ul>
                <li class="k-state-active"><@spring.message "hdispatch.flowlist.jobgrid.jobgraph"/></li>
                <li><@spring.message "hdispatch.flowlist.jobgrid.joblist"/></li>
            </ul>
            <div></div> -->
        <div>
            <div id="tipDelete"></div>
            <div id="dialog"></div>
            <div id="content-container">
                <div id="page-content">
                    <div class="panel">
                        <div class="panel-body">
                            <div id="toolbar"></div>
                            <div id="flowGrid" class="table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <script src="${base.contextPath}/lib/dateformat.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });
            function flowoperation_ajax(id, url, succesCallback) {
                var theme_id = "${RequestParameters.theme_id}";
                if (!hasOperatePermission(theme_id)) {
                    alert("您没有权限操作此调度任务！");
                }else {
                    $.ajax({
                        url: url,
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        data: {
                            exec_id: id
                        },
                        success: function (json) {
                            if (succesCallback) {
                                succesCallback(json);
                            }
                        },
                        error: function () {
                            grid.refresh();
                        }
                    });
                }
            }
            function openLogDetailPage(job_id, exec_id) {
                var dialog = $("#dialog")
                        .kendoWindow(
                                {
                                    //actions : [ "Maximize", "Minimize", "Close" ],
                                    width: 520,
                                    height: 350,
                                    modal: true,
                                    title: job_id
                                    + ' <@spring.message "hdispatch.flowlist.jobgrid.logdetail"/>',
                                    visible: false,
                                    iframe: true,
                                    content: 'job_logdetail.html?job_id=' + job_id
                                    + '&exec_id=' + exec_id
                                }).data("kendoWindow");
                dialog.maximize().open();
            }

            window.stateColor = {
                "READY": "background-color:#1AE6E6;",
                "PAUSED": "background-color:#FFCC00;",
                "RUNNING": "background-color:#00CC00;",
                "SUCCESS": "background-color:#33FF00;",
                "FAILED": "background-color:#FF3333;",
                "SUCCESS": "background-color:#5CB85C;",
                "FAILED": "background-color:#D9534F;",
                "KILLED": "background-color:#D9534F;",
                "PREPARING": "background-color:#DDDDDD;",
                "FAILED_FINISHING": "background-color:#EE9611;",
                "SKIPPED": "background-color:#66FF00;",
                "DISABLED": "background-color:#F70909;",
                "QUEUED": "background-color:#FFFF00;",
                "FAILED_SUCCEEDED": "background-color:#FF0066;",
                "CANCELLED": "background-color:#6F8391;"


            };

            $(document)
                    .ready(
                            function () {
                                var exec_id = "${RequestParameters.exec_id}";
                                $("#flowGrid").kendoTreeList({
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "${base.contextPath}/flows/queryjobs2",
                                                dataType: "json"
                                            },
                                            parameterMap: function (options,
                                                                    type) {
                                                if (type === "read") {
                                                    var map = {};
                                                    map.exec_id = exec_id;
                                                    return map;
                                                } else {
                                                    var datas = options.models;
                                                    return kendo
                                                            .stringify(datas);
                                                }
                                            }
                                        },
                                        schema: {
                                            model: {
                                                id: "version",
                                                parentId: "parentId",
                                                fields: {

                                                    job_id: {
                                                        type: "string"
                                                    },
                                                    c: {
                                                        type: "string"
                                                    },
                                                    start_time: {
                                                        type: "long"
                                                    },
                                                    end_time: {
                                                        type: "long"
                                                    },
                                                    elapsed: {
                                                        type: "string"
                                                    },
                                                    status: {
                                                        type: "string"
                                                    },
                                                    log: {
                                                        type: "string"
                                                    }

                                                },
                                                expanded: true
                                            }
                                        }
                                    },
                                    height: 540,
                                    sortable: true,
                                    resizable: true,
                                    columns: [
                                        {
                                            field: "job_id",
                                            title: '<@spring.message "hdispatch.flowlist.jobgrid.jobname"/>',
                                            width: 200
                                        },
                                        {
                                            field: "Timeline",
                                            title: '<@spring.message "hdispatch.flowlist.flowgrid.running"/>',
                                            width: 300,
                                            template: function (item) {

                                                var status = item.running;
                                                var start = status
                                                        .split(',')[0];
                                                var end = status
                                                        .split(',')[1];
                                                var length = status
                                                        .split(',')[2];
                                                var stausc = '';
                                                console.log("---"+item.status);
                                                if (item.status == 50)
                                                    stausc = '#5CB85C';
                                                else if (item.status == 70)
                                                    stausc = '#D9534F';
                                                else if (item.status == 20)
                                                    stausc = '#6699cc';
                                                else if (item.status == 30)
                                                    stausc = '#00CC00';
                                                else if (item.status == 60)
                                                    stausc = '#D9534F';
                                                else if (item.status == 40)
                                                    stausc = '#FFCC00';
                                                else
                                                    stausc = '#09F7F7';
                                                var color1;
                                                var color2;
                                                var color3;
                                                var r1;
                                                var r2;
                                                var r3;
                                                if (start == 0) {
                                                    r1 = Math
                                                            .round((end - start)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r1 == 0)
                                                        r1 = 1;

                                                    r2 = Math
                                                            .floor((length - end)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r2 == 0)
                                                        r2 = 1;

                                                    r3 = 0;
                                                    color1 = stausc;
                                                    color2 = "#E6E6E6";
                                                    color3 = "#E6E6E6";
                                                } else if (end == length) {
                                                    r1 = Math
                                                            .floor((start - 0)
                                                                    / length
                                                                    * 100)-1;

                                                    if (r1 == 0)
                                                        r1 = 1;

                                                    r2 = 0;
                                                    r3 = Math
                                                            .round((length - start)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r3 == 0)
                                                        r3 = 1;

                                                    color1 = "#E6E6E6";
                                                    color2 = "#E6E6E6";
                                                    color3 = stausc;
                                                } else {
                                                    r1 = Math
                                                            .floor((start - 0)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r1 == 0)
                                                        r1 = 1;

                                                    r2 = Math
                                                            .floor((end - start)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r2 == 0)
                                                        r2 = 1;

                                                    r3 = Math
                                                            .floor((length - end)
                                                                    / length
                                                                    * 100)-1;
                                                    if (r3 == 0)
                                                        r3 = 1;

                                                    color1 = "#E6E6E6";
                                                    color2 = stausc;
                                                    color3 = "#E6E6E6";
                                                }

                                                var html = "<div class='progress' style='margin:0;height:18px;border-radius:5px;'>"
                                                        + "<div class='progress-bar progress-bar-success' role='progressbar'"
                                                        + "	 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
                                                        + "	 style='width: "
                                                        + r1
                                                        + "%;background-color:"
                                                        + color1
                                                        + ";'>"
                                                        + "</div>"
                                                        + "<div class='progress-bar progress-bar-info' role='progressbar'"
                                                        + "	 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
                                                        + "	 style='width: "
                                                        + r2
                                                        + "%;background-color:"
                                                        + color2
                                                        + ";'>	"
                                                        + "	</div>"
                                                        + "	<div class='progress-bar progress-bar-warning' role='progressbar'"
                                                        + "		 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
                                                        + "		 style='width: "
                                                        + r3
                                                        + "%;background-color:"
                                                        + color3
                                                        + ";'>"
                                                        + "	</div>"
                                                        + "</div>";
                                                return html;
                                            }
                                        },
                                        {
                                            field: "start_time",
                                            title: '<@spring.message "hdispatch.flowlist.jobgrid.startdate"/>',
                                            width: 180,
                                            template: function (dataItem) {
                                                var v = dataItem.start_time;
                                                return v == -1 ? '--'
                                                        : getFormatDateByLong(
                                                        v,
                                                        "yyyy-MM-dd hh:mm:ss");
                                            }
                                        },
                                        {
                                            field: "end_time",
                                            title: '<@spring.message "hdispatch.flowlist.jobgrid.enddate"/>',
                                            width: 180,
                                            template: function (dataItem) {
                                                var v = dataItem.end_time;
                                                /*
                                                 if(v instanceof Date){
                                                 return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
                                                 }
                                                 return v?v:''; */
                                                return v == -1 ? '--'
                                                        : getFormatDateByLong(
                                                        v,
                                                        "yyyy-MM-dd hh:mm:ss");
                                            }
                                        },
                                        {
                                            field: "elapsed",
                                            title: '<@spring.message "hdispatch.flowlist.jobgrid.rundate"/>',
                                            width: 180,
                                            template: function (dataItem) {
                                                var v = dataItem.end_time
                                                        - dataItem.start_time;
                                                if (v < 0)
                                                    v = 0;
                                                var days = Math
                                                        .floor(v
                                                                / (24 * 3600 * 1000))
                                                var leave1 = v
                                                        % (24 * 3600 * 1000) //计算天数后剩余的毫秒数
                                                var hours = Math
                                                        .floor(leave1
                                                                / (3600 * 1000))
                                                var leave2 = leave1
                                                        % (3600 * 1000) //计算小时数后剩余的毫秒数
                                                var minutes = Math
                                                        .floor(leave2
                                                                / (60 * 1000))
                                                var leave3 = leave2
                                                        % (60 * 1000) //计算分钟数后剩余的毫秒数
                                                var leave4 = leave3 % 1000;
                                                var seconds = Math
                                                        .round(leave3 / 1000)
                                                var time = 0;
                                                if (days > 0)
                                                    time = days
                                                            + 'd '
                                                            + hours
                                                            + 'h '
                                                            + minutes
                                                            + 'm '
                                                            + seconds
                                                            + 's '
                                                            + leave4
                                                            + 'ms ';
                                                else {
                                                    if (hours > 0)
                                                        time = hours
                                                                + 'h '
                                                                + minutes
                                                                + 'm '
                                                                + seconds
                                                                + 's '
                                                                + leave4
                                                                + 'ms ';
                                                    else {
                                                        if (minutes > 0)
                                                            time = minutes
                                                                    + 'm '
                                                                    + seconds
                                                                    + 's '
                                                                    + leave4
                                                                    + 'ms ';
                                                        else {
                                                            if (seconds > 0)
                                                                time = seconds
                                                                        + 's '
                                                                        + leave4
                                                                        + 'ms ';
                                                            else
                                                                time = leave4
                                                                        + 'ms ';
                                                        }
                                                    }
                                                }
                                                return time;
                                            }
                                        },
                                        {
                                            field: "status",
                                            title: '<@spring.message "hdispatch.flowlist.flowgrid.status"/>',
                                            width: 100,
                                            template: function (item) {
                                                if (item.status < 0)
                                                    item.status = 90;
                                                var m = '';
                                                $.each(resourceTypeData, function (i, n) {
                                                    if (n.value == item.status)
                                                        m = n.meaning;
                                                });
                                                if (item.status == 50)
                                                    status = 'SUCCESS';
                                                else if (item.status == 70)
                                                    status = 'FAILED';
                                                else if (item.status == 20)
                                                    status = 'PREPARING';
                                                else if (item.status == 30)
                                                    status = 'RUNNING';
                                                else if (item.status == 60)
                                                    status = 'KILLED';
                                                else if (item.status == 40)
                                                    status = 'PAUSED';
                                                else if (item.status == 10)
                                                    status = 'READY';
                                                else if (item.status == 80)
                                                    status = 'FAILED_FINISHING';
                                                else if (item.status == 90)
                                                    status = 'SKIPPED';
                                                else if (item.status == 100)
                                                    status = 'DISABLED';
                                                else if (item.status == 110)
                                                    status = 'QUEUED';
                                                else if (item.status == 120)
                                                    status = 'FAILED_SUCCEEDED';
                                                else if (item.status == 130)
                                                    status = 'CANCELLED';
                                                var html = "<div "
                                                        + "style='text-align:center;width:80px;height:13px;text-decoration: none;border-radius:5px;"
                                                        + (stateColor[status])
                                                        + "' "
                                                        + ">"
                                                        + m
                                                        + "</div>";
                                                return html;
                                            }
                                        },
                                        {
                                            field: "log",
                                            title: '<@spring.message "hdispatch.flowlist.jobgrid.joblog"/>',
                                            width: 80,
                                            template: function (item) {
                                                var exec_id = item.exec_id;
                                                var job_id = item.job_id;
                                                var html = "<a href='javascript:void(0)' style='text-decoration: none;'"
                                                        + "onclick='openLogDetailPage(\""
                                                        + item.nestedId
                                                        + "\",\""
                                                        + exec_id
                                                        + "\")'>"
                                                        + '<@spring.message "hdispatch.flowlist.jobgrid.logdetail"/>'
                                                        + "</a>";
                                                return html;
                                            }
                                        }]
                                });
                                $("#toolbar").kendoToolBar({
                                    items: [{
                                        type: "button",
                                        id: "retryflow",
                                        text: '<@spring.message "hap.retry"/>'
                                    }]
                                });
                                var start = $("#retryflow")
                                        .kendoButton(
                                                {
                                                    click: function (e) {
                                                        flowoperation_ajax(
                                                                exec_id,
                                                                '${base.contextPath}/flows/retryfailflow',
                                                                function (json) {
                                                                        alert(json.message);
                                                                });
                                                    }
                                                }).data("kendoButton");

                            });
        </script>
        </body>
        </html>
