<#-- * description: 角色界面 * version: 1.0 *author:hailin.xu@hand-china.com
* #{copyright}# * --> <#include "../../include/header.html">
<body>
	<script src="${base.contextPath}/common/language?var=languageData"
		type="text/javascript"></script>
	<div id="tabstrip">
		<ul>
			<li class="k-state-active"><@spring.message "hdispatch.flowlist.jobgrid.jobgraph"/></li>
			<li><@spring.message "hdispatch.flowlist.jobgrid.joblist"/></li>
		</ul>
		<div></div>
		<div>
		<div id="tipDelete"></div>
		<div id="dialog"></div>
		<div id="content-container">
			<div id="page-content">
				<div class="panel">
					<div class="panel-body">
						<div id="toolbar"></div>
						<div id="flowGrid" class="table"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<script src="${base.contextPath}/lib/dateformat.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#tabstrip").kendoTabStrip({
				animation : {
					open : {
						effects : "fadeIn"
					}
				}
			});
		});
		function flowoperation_ajax(id, url, succesCallback) {
			$.ajax({
				url : url,
				type : "get",
				dataType : "json",
				contentType : "application/json",
				data : {
					exec_id : id
				},
				success : function(json) {
					if (succesCallback) {
						succesCallback(json);
					}
				},
				error : function() {
					grid.refresh();
				}
			});
		}
		function openLogDetailPage(job_id, exec_id) {
			var dialog = $("#dialog")
					.kendoWindow(
							{
								actions : [ "Maximize", "Minimize", "Close" ],
								width : 520,
								height : 350,
								modal: true,
								title : job_id
										+ ' <@spring.message "hdispatch.flowlist.jobgrid.logdetail"/>',
								visible : false,
								iframe : true,
								content : 'job_logdetail.html?job_id=' + job_id
										+ '&exec_id=' + exec_id
							}).data("kendoWindow");
			dialog.center().open();
		}

		window.stateColor = {
				"PAUSED" : "background-color:#FFCC00;",
				"RUNNING" : "background-color:#00CC00;",
				"SUCCESS" : "background-color:#33FF00;",
				"FAILED" : "background-color:#FF3333;",
				"SUCCESS" : "background-color:#5CB85C;",
				"FAILED" : "background-color:#D9534F;",
				"KILLED" : "background-color:#D9534F;",
				"PREPARING" : "background-color:#DDDDDD;"
		};

		$(document)
				.ready(
						function() {
							var exec_id = "${RequestParameters.exec_id}";
							var flow_id = "${RequestParameters.flow_id}";
							var viewModel = kendo.observable({
								model : {},
								queryResource : function(e) {
									$('#flowGrid').data('kendoGrid').dataSource
											.read();
								}
							});

							kendo.bind($('#page-content'), viewModel);

							var crudServiceBaseUrl = '${base.contextPath}/flows', dataSource = new kendo.data.DataSource(
									{
										transport : {
											read : {
												url : crudServiceBaseUrl
														+ "/queryjobs",
												contentType : "application/json",
												type : "GET"
											},
											parameterMap : function(options,
													type) {
												if (type === "read") {
													var model = viewModel.model;
													var map = {};
													map.flow_id = flow_id;
													map.exec_id = exec_id;
													if (options.page) {
														map.page = options.page;
													}
													if (options.pageSize) {
														map.pagesize = options.pageSize;
													}
													return map;
												} else {
													var datas = options.models;
													return kendo
															.stringify(datas);
												}
											}
										},
										batch : true,
										serverPaging : true,
										pageSize : 20,
										schema : {
											data : 'rows',
											total : 'total',
											model : {
												id : "exec_id",
												fields : {
													flow_id : {
														type : "string"
													},
													job_id : {
														type : "string"
													},
													c : {
														type : "string"
													},
													start_time : {
														type : "long"
													},
													end_time : {
														type : "long"
													},
													elapsed : {
														type : "string"
													},
													status : {
														type : "string"
													},
													log : {
														type : "string"
													}

												}
											},
											errors : function(res) {
												if (!res.success && res.message) {
													return res.message;
												}
											}
										},
										error : function(e) {

										}
									});
							$("#toolbar").kendoToolBar({
								items : [ {
									type : "button",
									id : "retryflow",
									text : '<@spring.message "hap.retry"/>'
								} ]
							});
							var grid = $("#flowGrid")
									.kendoGrid(
											{
												dataSource : dataSource,
												//width:500,  
												navigatable : true,
												resizable : true,
												reorderable : true,
												scrollable : true,
												editable : false,
												pageable : {
													pageSizes : [ 5, 10, 20, 50 ],
													refresh : true,
													buttonCount : 5,
													messages : {
														noRecords : "未找到任何数据",
														display : "{0} - {1} 共 {2} 条数据",
														empty : "没有数据",
														page : "页",
														of : "/ {0}",
														itemsPerPage : "条每页",
														first : "第一页",
														previous : "前一页",
														next : "下一页",
														last : "最后一页",
														refresh : "刷新"
													}
												},
												columns : [
														{
															field : "flow_id",
															title : '<@spring.message "hdispatch.flowlist.flowname"/>',
															width : 80
														},
														{
															field : "job_id",
															title : '<@spring.message "hdispatch.flowlist.jobgrid.jobname"/>',
															width : 200
														},
														{
															field : "Timeline",
															title : '<@spring.message "hdispatch.flowlist.flowgrid.running"/>',
															width : 300,
															template : function(
																	item) {

																var status = item.running;
																var start = status
																		.split(',')[0];
																var end = status
																		.split(',')[1];
																var length = status
																		.split(',')[2];
																var stausc='';
																if (item.status == 50)
																	stausc = '#5CB85C';
																else if (item.status == 70)
																	stausc = '#D9534F';
																else if (item.status == 20)
																	stausc = '#DDDDDD';
																else if (item.status == 30)
																	stausc = '#00CC00';
																else if (item.status == 60)
																	stausc = '#D9534F';
																else if (item.status == 40)
																	stausc = '#FFCC00';
																var color1;
																var color2;
																var color3;
																var r1;
																var r2;
																var r3;
																if (start == 0) {
																	r1 = Math
																			.round((end - start)
																					/ length
																					* 100);
																	if(r1==0)
																		r1=1;

																	r2 = Math
																			.floor((length - end)
																					/ length
																					* 100);
																	if(r2==0)
																		r2=1;
					
																	r3 = 0;
																	color1 = stausc;
																	color2 = "#E6E6E6";
																	color3 = "#E6E6E6";
																} else if (end == length) {
																	r1 = Math
																			.floor((start - 0)
																					/ length
																					* 100);
																	
																	if(r1==0)
																		r1=1;

																	r2 = 0;
																	r3 = Math
																			.round((length - start)
																					/ length
																					* 100);
																	console.log(r3)
																	if(r3==0)
																		r3=1;

																	color1 = "#E6E6E6";
																	color2 = "#E6E6E6";
																	color3 = stausc;
																} else {
																	r1 = Math
																			.floor((start - 0)
																					/ length
																					* 100);
																	if(r1==0)
																		r1=1;

																	r2 = Math
																			.floor((end - start)
																					/ length
																					* 100);
																	if(r2==0)
																		r2=1;

																	r3 = Math
																			.floor((length - end)
																					/ length
																					* 100);
																	if(r3==0)
																		r3=1;

																	color1 = "#E6E6E6";
																	color2 = stausc;
																	color3 = "#E6E6E6";
																}

																var html = "<div class='progress' style='margin:0;height:18px;border-radius:5px;'>"
																		+ "<div class='progress-bar progress-bar-success' role='progressbar'"
																		+ "	 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
																		+ "	 style='width: "
																		+ r1
																		+ "%;background-color:"
																		+ color1
																		+ ";'>"
																		+ "</div>"
																		+ "<div class='progress-bar progress-bar-info' role='progressbar'"
																		+ "	 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
																		+ "	 style='width: "
																		+ r2
																		+ "%;background-color:"
																		+ color2
																		+ ";'>	"
																		+ "	</div>"
																		+ "	<div class='progress-bar progress-bar-warning' role='progressbar'"
																		+ "		 aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'"
																		+ "		 style='width: "
																		+ r3
																		+ "%;background-color:"
																		+ color3
																		+ ";'>"
																		+ "	</div>"
																		+ "</div>";
																return html;
															}
														},
														{
															field : "start_time",
															title : '<@spring.message "hdispatch.flowlist.jobgrid.startdate"/>',
															width : 180,
															template : function(
																	dataItem) {
																var v = dataItem.start_time;
																return v == -1 ? '--'
																		: getFormatDateByLong(
																				v,
																				"yyyy-MM-dd hh:mm:ss");
															}
														},
														{
															field : "end_time",
															title : '<@spring.message "hdispatch.flowlist.jobgrid.enddate"/>',
															width : 180,
															template : function(
																	dataItem) {
																var v = dataItem.end_time;
																/*  
																    if(v instanceof Date){
																        return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
																    }
																    return v?v:''; */
																return v == -1 ? '--'
																		: getFormatDateByLong(
																				v,
																				"yyyy-MM-dd hh:mm:ss");
															}
														},
														{
															field : "elapsed",
															title : '<@spring.message "hdispatch.flowlist.jobgrid.rundate"/>',
															width : 180,
															template : function(
																	dataItem) {
																var v = dataItem.end_time
																		- dataItem.start_time;
																if (v < 0)
																	v = 0;
																var days = Math
																		.floor(v
																				/ (24 * 3600 * 1000))
																var leave1 = v
																		% (24 * 3600 * 1000) //计算天数后剩余的毫秒数  
																var hours = Math
																		.floor(leave1
																				/ (3600 * 1000))
																var leave2 = leave1
																		% (3600 * 1000) //计算小时数后剩余的毫秒数  
																var minutes = Math
																		.floor(leave2
																				/ (60 * 1000))
																var leave3 = leave2
																		% (60 * 1000) //计算分钟数后剩余的毫秒数  
																var leave4 = leave3 % 1000;
																var seconds = Math
																		.round(leave3 / 1000)
																var time = 0;
																if (days > 0)
																	time = days
																			+ 'd '
																			+ hours
																			+ 'h '
																			+ minutes
																			+ 'm '
																			+ seconds
																			+ 's '
																			+ leave4
																			+ 'ms ';
																else {
																	if (hours > 0)
																		time = hours
																				+ 'h '
																				+ minutes
																				+ 'm '
																				+ seconds
																				+ 's '
																				+ leave4
																				+ 'ms ';
																	else {
																		if (minutes > 0)
																			time = minutes
																					+ 'm '
																					+ seconds
																					+ 's '
																					+ leave4
																					+ 'ms ';
																		else {
																			if (seconds > 0)
																				time = seconds
																						+ 's '
																						+ leave4
																						+ 'ms ';
																			else
																				time = leave4
																						+ 'ms ';
																		}
																	}
																}
																return time;
															}
														},
														{
															field : "status",
															title : '<@spring.message "hdispatch.flowlist.flowgrid.status"/>',
															width : 100,
															template : function(
																	item) {
																if (item.status == 50)
																	status = 'SUCCESS';
																else if (item.status == 70)
																	status = 'FAILED';
																else if (item.status == 20)
																	status = 'PREPARING';
																else if (item.status == 30)
																	status = 'RUNNING';
																else if (item.status == 60)
																	status = 'KILLED';
																else if (item.status == 40)
																	status = 'PAUSED';
																var html = "<div "
																		+ "style='text-align:center;width:80px;height:13px;text-decoration: none;border-radius:5px;"
																		+ (stateColor[status])
																		+ "' "
																		+ ">"
																		+ item.meaning
																		+ "</div>";
																return html;
															}
														},
														{
															field : "log",
															title : '<@spring.message "hdispatch.flowlist.jobgrid.joblog"/>',
															width : 80,
															template : function(
																	item) {
																var exec_id = item.exec_id;
																var job_id = item.job_id;
																var html = "<a href='javascript:void(0)' style='text-decoration: none;'"
																		+ "onclick='openLogDetailPage(\""
																		+ job_id
																		+ "\",\""
																		+ exec_id
																		+ "\")'>"
																		+ '<@spring.message "hdispatch.flowlist.jobgrid.logdetail"/>'
																		+ "</a>";
																return html;
															}
														} ]
											}).data("kendoGrid");
							var start = $("#retryflow")
									.kendoButton(
											{
												click : function(e) {
													flowoperation_ajax(
															exec_id,
															'${base.contextPath}/flows/retryfailflow',
															function(json) {
																console
																		.log(json.message);
																if (json.message != null)
																	alert("当前流已经完成，请尝试重新执行！");
																grid.refresh();
															});
												}
											}).data("kendoButton");

						});
	</script>
</body>
</html>
