<#-- 
 * description: 角色界面
 * version: 1.0 
 *author:hailin.xu@hand-china.com 
 * #{copyright}# 
 * --> 
<#include "../../include/header.html">
<body>
   <script src="${base.contextPath}/common/language?var=languageData" type="text/javascript"></script> 
   <div id="tipDelete"></div> 
   <div id="dialog"></div>
    <div id="content-container">
        <div id="page-content">
            <div class="panel" >
                <form class="form-horizontal">
                    <div class="panel-body">

                        <!-- roleCode -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><@spring.message "jobdetaildto.jobname"/></label>
                                <div class="col-sm-6">
                                    <input type="text" data-bind="value:model.jobName"
                                        class="k-textbox">
                                </div>
                            </div>
                        </div>
                        <!-- roleCode  end-->

                        <!--   roleName -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><@spring.message "jobdetaildto.jobgroup"/></label>
                                <div class="col-sm-6">
                                    <input type="text" data-bind="value:model.jobGroup"
                                        class="k-textbox">
                                </div>
                            </div>
                        </div>
                        <!--   roleName  end -->
                    </div>
                    <!--  panel body end -->
                    <!-- -  panel-footer -->
                    <div class="panel-footer text-right">
                        <span class="btn btn-success" data-bind="click:queryResource"
                            type="submit"><@spring.message "hap.query"/></span>
                    </div>
                    <!-- end panel-footer -->
                </form>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div id="toolbar"></div>
                    <div id="jobGrid" class="table"></div>
                </div>
            </div>
        </div>
    </div>
<!-- delete template -->
    <script type="text/x-kendo-template" id="windowTemplate">
       <div> 
          <div class="deleteMessage">
           <span>are you sure delete ?</span>
           </div>
        <div class="deleteButton">
            <button class="k-button" id="yesButton">Yes</button>
            <button class="k-button" id="noButton"> No</button>
        </div> 
       </div>
    </script>
    <!-- delete template end -->  
    
    <script type="text/javascript">
        var checkedIds = {};

        //on click of the checkbox:
        function selectRow() {
            var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#jobGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);
       
            checkedIds[dataItem.jobName] = checked;
            if (checked) {
                //-select the row
                row.addClass("k-state-selected");
                } else {
                //-remove selection
                row.removeClass("k-state-selected");
            }

        }

        //on dataBound event restore previous selected rows:
        function onDataBound(e) {
            var view = this.dataSource.view();
            for(var i = 0; i < view.length;i++){
                if(checkedIds[view[i].id]){
                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                    .addClass("k-state-selected")
                    .find(".checkbox")
                    .attr("checked","checked");
                }
            }
        }
        
        function joboperation_ajax(obj, url, succesCallback) {
            $.ajax({
                url        : url,
                type       : "POST",
                dataType   : "json",
                contentType: "application/json",
                data       : kendo.stringify(obj),
                success    : function (json) {
                    if (succesCallback) {
                        succesCallback();
                    }
                },
                error      : function () {
                    grid.refresh();
                }
            });
        }
        function openJobDetailPage(jobName, triggerType, jobGroup) { 
            var dialog =  $("#dialog").kendoWindow({
                actions: [ "Maximize", "Minimize", "Close"],
                width  : 720,
                height : 550,
                title  : jobName + ' Detail', 
                visible: false,
                iframe : true,  
                content: 'job_infodetail.html?jobName=' + jobName + '&triggerType=' + triggerType + '&jobGroup=' + jobGroup 
            }).data("kendoWindow");
            dialog.center().open();
        }
        window.stateColor = {
           "PAUSED"  : "color:#FFCC00;",
           "NORMAL"  : "color:#00CC00;",
           "COMPLETE": "color:grey;",
           "ERROR"   : "color:#FF3333;",
           "BLOCKED" : "color:black;",
           "NONE"    : "color:black;"
        };
    
        $(document).ready(function () {
            
            var windowTemplate = kendo.template($("#windowTemplate").html());
            var tipDelete = $("#tipDelete").kendoWindow({
                  title: "delete",
                  visible: false, //the window will not appear before its .open method is called
                  width: "250px",
                  height: "100px"
          
             }).data("kendoWindow");
             var viewModel = kendo.observable({
                model:{},
                queryResource: function(e) {
                $('#jobGrid').data('kendoGrid').dataSource.read();
             }
             });

             kendo.bind($('#page-content'),viewModel);
          
             var crudServiceBaseUrl = '${base.contextPath}/job',
             dataSource = new kendo.data.DataSource({
                 transport: {
                     read:  {
                         url: crudServiceBaseUrl+"/query",
                         contentType: "application/json",
                         type : "POST" 
                     },
                     destroy : { 
                         url : crudServiceBaseUrl + "/deletejob",
                         contentType: "application/json",
                         type : "POST" 
                     },
                     parameterMap: function(options, type) {                
                          if (type === "read") { 
                             var model = viewModel.model;
                             var map = {};
                             if(model.jobName)
                             {
                                 map.jobName=model.jobName;
                             }
                             if(model.jobGroup)
                             {
                                 map.jobGroup=model.jobGroup;
                             }
                             if (options.page) 
                             {
                             map.page = options.page; 
                             }
                              if (options.pageSize) 
                             {
                                map.pagesize = options.pageSize;
                             }
                             return map;
                         }else
                         {
                             var datas = options.models;
                             return kendo.stringify(datas);
                         }
                     }
                },
                batch: true,
                serverPaging : true,
                pageSize: 20,
                schema: {
                    data:'rows',
                    total:'total',
                    model: {
                        id: "jobName",
                        fields: {
                            jobGroup: {type:"string"},
                            jobClassName: {type:"string" },
                            description: {type:"string"},
                            previousFireTime: {type:"date" },
                            scheduledFireTime: {type:"date"},
                            nextFireTime: {type:"date"},
                            fireTime: {type:"date"}
                            
                        }
                    },
                    errors: function(res){
                        if(!res.success && res.message) {
                            return res.message;
                        }
                    }
                }, 
                error: function(e) {
                    alert(e.errors)
                }
            }); 
         
         
          $("#toolbar").kendoToolBar({
              items: [ 
                {type:"button",id:"newcronjob",text:'<@spring.message "job.newcronjob"/>'},
                {type:"button",id:"newsimplejob",text:'<@spring.message "job.newsimplejob"/>'},
                {type:"button",id:"delete",text:'<@spring.message "hap.delete"/>'},
                {type:"button",id:"pause",text:'<@spring.message "hap.pause"/>'},
                {type:"button",id:"resume",text:'<@spring.message "hap.resume"/>'}

              ]
            });
         var grid = $("#jobGrid").kendoGrid({
             dataSource: dataSource,
             //width:500,  
             navigatable: true,
             resizable: true,
             scrollable: false,
             editable:false,
             pageable: {
                pageSizes:[5, 10, 20, 50],
                refresh:true,
                buttonCount:5,
                messages: {
                    noRecords: "未找到任何数据",
                    display: "{0} - {1} 共 {2} 条数据",
                    empty: "没有数据",
                    page: "页",
                    of: "/ {0}",
                    itemsPerPage: "条每页",
                    first: "第一页",
                    previous: "前一页",
                    next: "下一页",
                    last: "最后一页",
                    refresh: "刷新"
                }
            },
            columns: [
              {
               title: '',
               template: '<input class="checkbox" type="checkbox" />'
              },
                { field: "jobName", title: '<@spring.message "jobdetaildto.jobname"/>', width: 140,
                  template : function (item) {
                        var jobName = item.jobName;
                        var triggerType = item.triggerType;
                        var jobGroup = item.jobGroup;
                        var html = "<a href='javascript:void(0)' " +
                        "style='text-decoration: none;" + (stateColor[item.runningState]) + "' " +
                        "onclick='openJobDetailPage(\"" + jobName + "\",\"" + triggerType + "\",\""
                        + jobGroup + "\")'>" + jobName + "</a>";
                        return html;
                        }
                },
                { field: "jobGroup", title: '<@spring.message "jobdetaildto.jobgroup"/>', width: 80 },
                { field: "jobClassName", title: '<@spring.message "jobdetaildto.jobclassname"/>', width: 200 },
                { field: "description", title: '<@spring.message "jobdetaildto.description"/>', width: 200 },
                { field: "previousFireTime", title: '<@spring.message "jobrunninginfodto.previousfiretime"/>', width: 180,
                     template: function(dataItem){
                         var v = dataItem.previousFireTime;
                             if(v instanceof Date){
                                 return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
                             }
                             return v?v:'';
                      }
                },
                { field:"scheduledFireTime",title:'<@spring.message "jobrunninginfodto.scheduledfiretime"/>',width:180,
                     template: function(dataItem){
                         var v = dataItem.scheduledFireTime;
                            if(v instanceof Date){
                                return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
                            }
                            return v?v:'';
                      }
                },
                { field: "nextFireTime", title: '<@spring.message "jobrunninginfodto.nextfiretime"/>', width: 180,
                     template: function(dataItem){
                         var v = dataItem.nextFireTime;
                            if(v instanceof Date){
                                return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
                            }
                            return v?v:'';
                      }
                },
                { field: "fireTime", title: '<@spring.message "jobrunninginfodto.firetime"/>', width: 180,
                     template: function(dataItem){
                         var v = dataItem.fireTime;
                            if(v instanceof Date){
                                return kendo.toString(v,"yyyy-MM-dd hh:mm:ss");
                            }
                            return v?v:'';
                      }
                }, 
                {attributes: {style: "text-align:center"}, command : [{

                     text : '<@spring.message "hap.delete"/>',
                     /* tempate: '<span class="btn btn-success"><@spring.message "hap.delete"/></span>',*/
                     click: function(e){
                         e.preventDefault(); //prevent page scroll reset
                         var tr = $(e.target).closest("tr"); //get the row for deletion
                         var data = this.dataItem(tr); //get the row data so it can be referred later
                         tipDelete.content(windowTemplate); //send the row data object to the template and render it
                         tipDelete.center().open();

                         $("#yesButton").click(function(){
                             grid.dataSource.remove(data);  //prepare a "destroy" request
                             grid.dataSource.sync();  //actually send the request (might be ommited if the autoSync option is enabled in the dataSource)
                             tipDelete.close();
                         });
                      
                         $("#noButton").click(function(){
                             tipDelete.close();
                         });
                    } 
                }],width:70}
                ]
        }).data("kendoGrid");   
         
         //bind click event to the checkbox
        grid.table.on("click", ".checkbox" , selectRow);
         
        var newcronjob = $("#newcronjob").kendoButton({
            click: function(e) {
                var dialog =  $("#dialog").kendoWindow({
                    actions: [ "Maximize", "Minimize", "Close"],
                    width: 720,
                    height: 550,
                    title: '<@spring.message "job.schedulenewjob"/>', 
                    visible: false,
                    iframe: true,  
                    content: 'job_cron_add.html' 
                }).data("kendoWindow");
                dialog.center().open();
            }
        }).data("kendoButton"); 
       
        var newsimplejob = $("#newsimplejob").kendoButton({
            click: function(e) {
                var dialog =  $("#dialog").kendoWindow({
                    actions: [ "Maximize", "Minimize", "Close"],
                    width: 720,
                    height: 550,
                    title: '<@spring.message "job.schedulenewjob"/>', 
                    visible: false,
                    iframe: true,  
                    content: 'job_simple_add.html' 
                }).data("kendoWindow");
                dialog.center().open();
            }
        }).data("kendoButton"); 
       
       var deleteButton = $("#delete").kendoButton({
            click: function(e) {
            	tipDelete.content(windowTemplate); //send the row data object to the template and render it
            	tipDelete.center().open();               
            	$("#yesButton").click(function(){
                    $.each(checkedIds,function(key,value){
                        if(checkedIds[key])
                        {
                        	grid.dataSource.remove(grid.dataSource.get(key));
                            checkedIds[key]=false;
                        }     
                    }); 
                    grid.dataSource.sync();
                    tipDelete.close();
                    grid.refresh();
               });

               $("#noButton").click(function(){
                	tipDelete.close();
                });
           
        
        }
        }).data("kendoButton"); 
       
        var pause = $("#pause").kendoButton({
            click: function(e) {
                var checked = [];
                for(var i in checkedIds){
                if(checkedIds[i]===true)
                    checked.push(grid.dataSource.get(i).toJSON());
            }
            joboperation_ajax(checked, '${base.contextPath}/job/pausejob', function () {
                $.each(checked, function (i, v) {
                    
                    grid.dataSource.get(v.jobName).runningState = "PAUSED";
                });
                grid.refresh();
            });
        }
       }).data("kendoButton"); 
       
       var resume = $("#resume").kendoButton({
        click: function(e) {
            var checked = [];
            for(var i in checkedIds){
                if(checkedIds[i]===true)
                    checked.push(grid.dataSource.get(i).toJSON());
            }
            joboperation_ajax(checked, '${base.contextPath}/job/resumejob', function () {
                $.each(checked, function (i, v) {
                    grid.dataSource.get(v.jobName).runningState = "NORMAL";
                });
                grid.refresh();
            });
        }
       }).data("kendoButton"); 

 }); 
                 
</script>
<style type="text/css">

  #yesButton{
        position:absolute; 
        top:50px; 
        left:50px;
        width:50px;
  }
  #noButton{
        position:absolute; 
        top:50px; 
        right:50px;
        width:50px;
  }
  .deleteMessage{
       position:absolute; 
       left:50px;
  }
</style>
</body>
</html>
