<div style="margin-top:50px">
  <form class="form-horizontal" role="form" novalidate>
    <div class="form-group">
      <label class="col-md-2 control-label">主题</label>
      <select class="col-md-8" kendo-drop-down-list k-data-text-field="'themeName'"
              k-data-value-field="'themeId'" k-data-source="vm.themes"
              k-placeholder="'请选择主题'" ng-model="vm.group.theme"
              style="padding-left:0;padding-right:0">
      </select>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">层级</label>
      <select class="col-md-8" kendo-drop-down-list k-data-text-field="'layerName'"
              k-data-value-field="'layerId'"
              k-data-source="vm.layers" k-placeholder="'请选择层级'" style="padding-left:0;padding-right:0">
      </select>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">组名</label>
      <input type="text" class="col-md-8 k-textbox" ng-model="vm.group.groupName"/>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">调度时间</label>
      <input kendo-date-time-picker
             class="col-md-8"
             ng-model="str"
             k-ng-model="obj"
             style="padding-left:0;padding-right:0"/>
    </div>
    <div class="form-group col-md-8">
      <label class="col-md-3 control-label">重复周期</label>
      <input type="number" class="com-md-4 k-textbox" min="0" style="clear: both;"/>
      <div class="col-md-5" style="float:right;">
        <select kendo-drop-down-list style="padding-left:0;padding-right:0">
          <option>请选择单位</option>
          <option>周</option>
          <option>天</option>
        </select>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="form-group" style="clear: both">
      <label class="col-md-2 control-label">描述</label>
      <input type="text" class="col-md-8 k-textbox" maxlength="256" ng-model="vm.group.description"/>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">配置依赖组</label>
      <select class="col-md-8" kendo-multi-select k-options="vm.dependencySelectOptions"
              k-ng-model="vm.group.dependencies" style="padding-left:0;padding-right:0"></select>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">是否启用</label>
      <div class="col-md-4">
        <input type="radio" ng-value="true" id="active" ng-model="vm.group.active" class="k-radio">
        <label class="k-radio-label" for="active">启用</label>
      </div>
      <div class="col-md-4">
        <input type="radio" ng-value="false" id="disable" ng-model="vm.group.active" class="k-radio">
        <label class="k-radio-label" for="disable">禁用</label>
      </div>
    </div>
  </form>
</div>