<#include "../../include/header.html">
    <body>
    <script>
        $.ajax({
            type: 'GET',
            url: "${base.contextPath}/dispatcher/theme/queryAll_opt" ,
            success: function (data) {
                filter_to_operate_themeIds = [];
                $.each(data.rows, function (key,value) {
                    filter_to_operate_themeIds.push(value.themeId);
                });
                console.log(filter_to_operate_themeIds);
            },
            async:false,
            dataType: "json"
        });
        console.log("加载权限验证数组完毕");

        var hasOperationPermission_themeLayer = false;
        $.ajax({
            type: 'GET',
            url: "${base.contextPath}/dispatcher/theme/hasOperatePermission" ,
            success: function (data) {
                if(0 < data.total){
                    hasOperationPermission_themeLayer = true;
                }else{
                    hasOperationPermission_themeLayer = false;
                }
            },
            async:false,
            dataType: "json"
        });
        console.log("加载权限验证完毕");
    </script>
    <div>
        <div id="content-container">
            <div id="theme-content">
                <div class="panel">
                    <form class="form-horizontal" id="query-form">
                        <div class="panel-body col-sm-offset-0">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 20%"><@spring.message "hdispatch.theme_name"/></label>
                                    <input id="input1" type="text" style="width: 70%" data-bind="value:model.themeName" class="k-textbox">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 30%"><@spring.message "hdispatch.theme.theme_description"/></label>
                                    <input type="text" style="width:60%" data-bind="value:model.themeDescription" class="k-textbox">
                                </div>
                            </div>
                            <!--<div class="col-sm-3">-->
                                <!--<div class="form-group">-->
                                    <!--<span class="btn btn-success" data-bind="click:queryFunction" type="submit"><@spring.message "hdispatch.query"/></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="panel-footer text-right">
                            <span class="btn btn-success" data-bind="click:queryFunction" type="submit"><@spring.message "hdispatch.query"/></span>
                            <span class="btn btn-default" data-bind="click:resetFunction" type="button"><@spring.message "hap.reset"/></span>
                        </div>
                    </form>
                </div>
                <div id="page-content" style="clear:both">
                    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                        <span id="btn_parameter_create" class="btn btn-primary" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                        <!--<span class="btn btn-danger" data-bind="click:batchDeleteFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.job.batch_delete"/></span>-->
                        <span id="btn_parameter_save" class="btn btn-success"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                        <span id="btn_parameter_calcel" class="btn btn-default" data-bind="click:cancelFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.cancel"/></span>
                        <!--<span  onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>-->
                    </div>
                    <div style="clear:both">
                        <div id="themeListGrid" style="clear: both"></div>
                    </div>
                </div>
            </div>
            <div id="details"></div>
        </div>
        <script type="text/javascript">
            if(!hasOperationPermission_themeLayer){
                $("#btn_parameter_create").attr("disabled","disabled");
                $("#btn_parameter_save").attr("disabled","disabled");
                $("#btn_parameter_calcel").attr("disabled","disabled");
            }else {
                $("#btn_parameter_create").removeAttr("disabled","disabled");
                $("#btn_parameter_save").removeAttr("disabled","disabled");
                $("#btn_parameter_calcel").removeAttr("disabled","disabled");
            }

           /* function getSaveOperationType_hdispatch() {
                return "SAVE_OPERATION_HDISPATCH";
            }
            function getDeleteOperationType_hdispatch() {
                return "DELETE_OPERATION_HDISPATCH";
            }
            function saveFunction_grid_hdispatch(gridDivId, gridViewModel) {
                gridViewModel.grid_operation_type = getSaveOperationType_hdispatch();
                $("#"+gridDivId).data('kendoGrid').dataSource.sync();
            }
            function deleteFunction_grid_hdispatch(gridDivId, gridViewModel,event) {
//                if(!gridViewModel.grid_operation_type){
//                    gridViewModel.put("grid_operation_type",getDeleteOperationType_hdispatch());
//                }
                event.preventDefault();
                kendo.ui.showConfirmDialog({
                    title:$l('hap.tip.info'),
                    message: $l('hap.tip.delete_confirm')
                }).done(function(e){
                    if(e.button == 'OK'){
                        gridViewModel.grid_operation_type = getDeleteOperationType_hdispatch();
                        var data = $("#"+gridDivId).data("kendoGrid").dataItem($(event.target).closest("tr"));
                        $("#"+gridDivId).data("kendoGrid").dataSource.remove(data);
                        $("#"+gridDivId).data("kendoGrid").dataSource.sync();
                    }
                });
            }
            function showFeedbackMsg_callback_hdispatch(gridDivId, gridViewModel, responseData) {
                console.log("回调");
                console.log(responseData);
                console.log(gridViewModel.grid_operation_type);

                if((getDeleteOperationType_hdispatch()==gridViewModel.grid_operation_type || getSaveOperationType_hdispatch()==gridViewModel.grid_operation_type) && responseData.success){
                    kendo.ui.showInfoDialog({
                        message:'<@spring.message "hap.tip.success"/>'
                    });
                    gridViewModel.grid_operation_type = '';
                }
                if(getDeleteOperationType_hdispatch()==gridViewModel.grid_operation_type && !responseData.success){
                    $("#"+gridDivId).data('kendoGrid').cancelChanges();
                    gridViewModel.grid_operation_type = '';
                }
            }
            function showFeedbackMsgForError_callback_hdispatch(gridDivId, gridViewModel,responseData) {
                if(getDeleteOperationType_hdispatch()==gridViewModel.grid_operation_type && !responseData.success){
                    gridViewModel.grid_operation_type = '';
                    $("#"+gridDivId).data('kendoGrid').cancelChanges();
                }
            }*/

            var wnd, detailsTemplate;
            var baseUrl_theme = "${base.contextPath}/dispatcher/theme/";
            var baseUrl_layer = "${base.contextPath}/dispatcher/layer/";
            var themes_data;
            var viewModel = kendo.observable({
                model         : {status:''},
                createFunction: function(){
                    if(!hasOperationPermission_themeLayer){
                        return;
                    }
                    $('#themeListGrid').data('kendoGrid').addRow();
                },
                saveFunction: function(){
                    if(!hasOperationPermission_themeLayer){
                        return;
                    }
                     $('#themeListGrid').data('kendoGrid').dataSource.sync();
                },
                cancelFunction: function(e){
                    if(!hasOperationPermission_themeLayer){
                        return;
                    }
                    $('#themeListGrid').data('kendoGrid').cancelChanges();
                },
                queryFunction: function (e) {
                    $('#themeListGrid').data('kendoGrid').dataSource.page(1);
                },
                batchDeleteFunction: function(e) {
                    grid_batchDelete_btn_click("themeListGrid");
                },
                resetFunction: function (e) {
                    var formData = viewModel.model.toJSON();
                    for ( var k in formData) {
                        viewModel.model.set(k, null);
                    }
                }
            });
            kendo.bind($('#query-form'), viewModel);
            kendo.bind($('#toolbar-btn'), viewModel);
            $(document).ready(function () {
                //声明详情窗口
                wnd = $("#details")
                        .kendoWindow({
                            title: '<@spring.message "hdispatch.theme.layer_manage_title"/>',
                            modal: true,
                            visible: false,
                            resizable: false,
                            actions : [ "Maximize", "Minimize", "Close"],
                            width: 800,
                            height:450
                        }).data("kendoWindow");
                detailsTemplate = kendo.template($("#template").html());

                //声明主窗口
                themes_data = new kendo.data.DataSource({
                    transport: {
                        read:  function (args) {
                            var options = args.data;
                            var model = viewModel.model;
                            if(!model.themeName){
                                model.themeName=' ';
                            }
                            if(!model.themeDescription){
                                model.themeDescription=' ';
                            }
                            var map = {themeName: model.themeName,themeDescription: model.themeDescription};
                            if (options.page)
                                map.page = options.page;
                            if (options.pageSize)
                                map.pageSize = options.pageSize;
                            for(var k in map){
                                if(map[k]==='')delete map[k]
                            }
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_theme+"query" ,
                                data: map,
                                success: function (data) {
                                    console.log("读取的数据");
                                    console.log(data);
                                    args.success(data);
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        create: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k]
                                    }
                                }
                                data['__status'] = 'add';
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_theme+"submit" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    args.success(data);
                                    if(data.success){
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        update: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k]
                                    }
                                }
                                data['__status'] = 'update';
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_theme+"update" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    args.success(data);
                                    if(data.success){
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        destroy: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k]
                                    }
                                }
                                data['__status'] = 'delete';
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_theme+"remove" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    if(data.success){
                                        args.success(data);
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }else {
                                        $("#themeListGrid").data('kendoGrid').cancelChanges();
                                        if(data.message){
                                            alert(data.message);
                                        }
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 50,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: 'themeId',
                            fields: {
                                themeName: {
                                    type: 'string',
                                    validation: { required: true },
                                    nullable: false
                                },
                                themeSequence: { type: 'number' },
                                themeDescription: { type: 'string' }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    },
                    error: function(e){
                        if(e.errors){
                            alert(e.errors);
                        }else {
                            var responseText = eval("("+e.xhr.responseText+")");
                            if(!responseText.success && responseText.message){
                                alert(responseText.message);
                            }
                        }
                    }
                });
                $("#themeListGrid").kendoGrid({
                    dataSource: themes_data,
                    resizable: true,
//                    selectable: "multiple,rowbox",
                    selectable: "multiple",
                    scrollable: true,
                    columnMenu: true,
                    reorderable: true,
                    pageable: {
                        pageSizes:[10, 20, 50, 100],
                        refresh:true,
                        buttonCount:50,
                        messages: {
                            noRecords: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            display: '{0} - {1} <@spring.message "hdispatch.grid_data_total_num"/> {2} <@spring.message "hdispatch.grid_data_records"/>',
                            empty: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            page: '<@spring.message "hdispatch.grid_page"/>',
                            of: "/ {0}",
                            itemsPerPage: '<@spring.message "hdispatch.grid_pages_per_page"/>',
                            first: '<@spring.message "hdispatch.grid_first_page"/>',
                            previous: '<@spring.message "hdispatch.grid_pre_page"/>',
                            next: '<@spring.message "hdispatch.grid_next_page"/>',
                            last: '<@spring.message "hdispatch.grid_last_page"/>',
                            refresh: '<@spring.message "hdispatch.grid_refresh"/>'
                        }
                    },
                    columns:
                    [
                        {
                            'field': 'themeName',
                            'title':'<@spring.message "hdispatch.theme_name"/>',
                            'width': "150px",
//                            editor:themeNameEditor,
//                            template:"#=themeName#"
                        },
//                        {
//                            'field': 'themeSequence',
//                            'title':'<@spring.message "hdispatch.layer.layer_create.layer_sequence"/>',
//                            'width': "100px",
//                            editor:themeSequenceEditor,
//                            template:"#=themeSequence#"
//                        },
                        {
                            'field': 'themeDescription',
                            'title':'<@spring.message "hdispatch.theme.theme_description"/>',
                            'width': "200px",
//                            editor:themeDescEditor,
//                            template:"#=themeDescription#"
                        },
                        {
                            attributes: {style: "text-align:center;padding:0px"},
                            field : "",
                            title : '<@spring.message "hdispatch.theme.layer_operation"/>',
                            width : 50,
                            template : function(item) {
                                if(!!item.themeId){
                                    var html = "<button  class='btn btn-info'onclick='showDetails(\""
                                            + item.themeId
                                            + "\",\""+item.themeName+"\")'"
                                            + "><@spring.message 'hdispatch.theme.theme_create.edict_layer'/>"
                                            + "</button>";
                                    return html;
                                }else{
                                    return '';
                                }
                            }
                        },
                        {
                            attributes: {style: "text-align:center;padding:0px"},
                            'field' : "",
                            'title' : '<@spring.message "hdispatch.grid_title.operation"/>',
                            'width' : 50,
                            template: function (rowData) {
                                if(hasOperatePermission(rowData.themeId)){
                                    parameter = "themeListGrid";
                                    return '<a class="btn btn-danger" onclick="grid_del_btn_click(parameter,event)"><@spring.message "hap.delete"/></a>';
                                }
                                return '<a class="btn btn-danger" disabled="disabled"><@spring.message "hap.delete"/></a>';

                            }
                        }
                    ],
                    editable: true,
                    edit: function (e) {
                        if(e.model.themeId){
                            $("#themeName_grid_input").attr("readonly","readonly");
                            $("#themeDesc_grid_input").attr("readonly","readonly");
//                            $("#themeSequence_grid_input").attr("readonly","readonly");
                        }
                    }
                });
                kendo.bind($('#theme-content'),viewModel);
            });
            function themeDescEditor(container, options) {
                $('<span class="k-textbox" style="width: 100%;"><input id="themeDesc_grid_input" type="text" name="' + options.field + '" class="k-input k-textbox"/></span>')
                        .appendTo(container);
            }
            function themeNameEditor(container, options) {
                $('<span class="k-textbox" style="width: 100%;"><input id="themeName_grid_input" type="text" name="' + options.field + '" class="k-input k-textbox"/></span>')
                        .appendTo(container);
            }
            function themeSequenceEditor(container, options) {
                $('<span class="k-textbox" style="width: 100%;"><input id="themeSequence_grid_input" type="number" name="' + options.field + '" class="k-input k-textbox"/></span>')
                        .appendTo(container);
            }

            function getEdictingRowData(index)
            {
                return $('#themeListGrid').data("kendoGrid")._data[index];
            }
            function showDetails(themeId_thisRow,themeName_thisRow) {
                if(!themeId_thisRow || !themeName_thisRow){
                    alert('<@spring.message "hdispatch.theme.theme_create.illegal_access_edict_layer"/>');
                    return;
                }
                var dataItem = {
                    themeId:themeId_thisRow,
                    themeName:themeName_thisRow,
                    disabledFlag:''
                };
                if(!hasOperatePermission(themeId_thisRow)){
                    dataItem.disabledFlag = 'disabled';
                }
                wnd.content(detailsTemplate(dataItem));
                wnd.center().open();
                loadLayerGrid(dataItem);
            }

            function loadLayerGrid(layerHeaderData) {
                var isOperate = 'disabled'==layerHeaderData.disabledFlag? false:true;
                if(!layerHeaderData.themeId){
                    alert('<@spring.message "hdispatch.theme.theme_create.illegal_access_edict_layer"/>');
                    return;
                }
                var layerViewModel = kendo.observable({
                    model:{
                        themeId:layerHeaderData.themeId
                    },
                    createFunction: function(){
                        if(isOperate){
                            $('#layerListGrid').data('kendoGrid').addRow();
                        }
                    },
                    saveFunction: function(){
                        if(isOperate){
                            $('#layerListGrid').data('kendoGrid').dataSource.sync();
                        }
                    },
                    cancelFunction: function(e){
                        if(isOperate){
                            $('#layerListGrid').data('kendoGrid').cancelChanges();
                        }
                    },
                    batchDeleteFunction: function (e) {
                        if(!isOperate){
                            return;
                        }
                        var grid = $("#layerListGrid").data("kendoGrid");
                        var checked = grid.selectedDataItems();
                        if (grid.selectedDataItems().length) {
                            kendo.ui.showConfirmDialog({
                                title: $l('hap.tip.info'),
                                message: $l('hdispatch.theme.layer.delete_tips')
                            }).done(function (event) {
                                if (event.button == 'OK') {
                                    $.each(checked, function (key,value) {
                                        grid.dataSource.remove(value);
                                    });
                                    grid.dataSource.sync();
                                }
                            })
                        }
                    }
                });
                kendo.bind($('#layerGrid_toolbar-btn'), layerViewModel);
                var layers_data = new kendo.data.DataSource({
                    transport: {
                        read:  function(args) {
                            var options = args.data;
                            var layerModel = layerViewModel.model;
                            if(!layerModel.themeId){
                                alert('<@spring.message "hdispatch.theme.theme_create.illegal_access_edict_layer_for_not_set_themeId"/>');
                                return;
                            }
                            var map = {themeId: layerModel.themeId};
                            if (options.page)
                                map.page = options.page;
                            if (options.pageSize)
                                map.pageSize = options.pageSize;
                            for(var k in map){
                                if(map[k]==='')delete map[k]
                            }
                            $.ajax({
                                type: 'GET',
                                url: baseUrl_layer+"query",
                                data: map,
                                success: function (data) {
                                    args.success(data);
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        create: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k];
                                    }
                                }
                                data['__status'] = 'add';
                                data['themeId'] = layerHeaderData.themeId;
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_layer+"submit" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    args.success(data);
                                    if(data.success){
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        update: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k]
                                    }
                                }
                                data['__status'] = 'update';
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_layer+"update" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    args.success(data);
                                    if(data.success){
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        },
                        destroy: function(args) {
                            var options = args.data;
                            var datas = options.models.map(function(data){
                                for(var k in data){
                                    if(data[k]===''||typeof(data[k])=="undefined"){
                                        delete data[k]
                                    }
                                }
                                data['__status'] = 'delete';
                                return data;
                            });
                            $.ajax({
                                type: 'POST',
                                url: baseUrl_layer+"remove" ,
                                data: JSON.stringify(datas),
                                dataType: "application/json",
                                contentType:"application/json",
                                success: function (data) {
                                    if(data.success){
                                        args.success(data);
                                        kendo.ui.showInfoDialog({
                                            message:'<@spring.message "hap.tip.success"/>'
                                        });
                                    }else {
                                        $("#layerListGrid").data('kendoGrid').cancelChanges();
                                        if(data.message){
                                            alert(data.message);
                                        }
                                    }
                                },
                                async:true,
                                dataType: "json"
                            });
                        }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 50,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: 'layerId',
                            fields: {
                                themeId: { type: 'number' },
                                layerName: { type: 'string',validation: { required: true } },
                                layerDescription: { type: 'string' },
                                layerSequence: { type: 'number' }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    },
                    error: function(e){
                        if(e.errors){
                            alert(e.errors);
                        }else {
                            var responseText = eval("("+e.xhr.responseText+")");
                            if(!responseText.success && responseText.message){
                                alert(responseText.message);
                            }
                        }
                    }
                });
                $("#layerListGrid").kendoGrid({
                    dataSource: layers_data,
                    resizable: true,
//                    selectable: "multiple,rowbox",
                    selectable: "multiple",
                    scrollable: true,
                    columnMenu: true,
                    reorderable: true,
                    pageable: {
                        pageSizes:[10, 20, 50, 100],
                        refresh:true,
                        buttonCount:50,
                        messages: {
                            noRecords: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            display: '{0} - {1} <@spring.message "hdispatch.grid_data_total_num"/> {2} <@spring.message "hdispatch.grid_data_records"/>',
                            empty: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            page: '<@spring.message "hdispatch.grid_page"/>',
                            of: "/ {0}",
                            itemsPerPage: '<@spring.message "hdispatch.grid_pages_per_page"/>',
                            first: '<@spring.message "hdispatch.grid_first_page"/>',
                            previous: '<@spring.message "hdispatch.grid_pre_page"/>',
                            next: '<@spring.message "hdispatch.grid_next_page"/>',
                            last: '<@spring.message "hdispatch.grid_last_page"/>',
                            refresh: '<@spring.message "hdispatch.grid_refresh"/>'
                        }
                    },
                    columns:
                            [
                                { 'field': 'layerName','title':'<@spring.message "hdispatch.layer_name"/>', 'width': "140px" },
                                { 'field': 'layerDescription','title':'<@spring.message "hdispatch.layer.layer_description"/>', 'width': "140px" },
//                                { 'field': 'layerSequence','title':'<@spring.message "hdispatch.layer.layer_create.layer_sequence"/>', 'width': "140px" },
                                {
                                    attributes: {style: "text-align:center;padding:0px"},
                                    title:'<@spring.message "hdispatch.grid_title.operation"/>',
                                    command : [{
                                        name:'remove',
                                        template : function (rowData) {
                                            if(isOperate){
                                                return '<a class="btn btn-danger k-grid-remove"><@spring.message "hap.delete"/></a>';
                                            }
                                            return '<a class="btn btn-danger k-grid-remove" disabled="disabled"><@spring.message "hap.delete"/></a>';
                                        },
                                        click: function(e){
                                            if(!isOperate){
                                                return;
                                            }
                                            var th = this;
                                            e.preventDefault();
                                            kendo.ui.showConfirmDialog({
                                                title:$l('hap.tip.info'),
                                                message: $l('hap.tip.delete_confirm')
                                            }).done(function(event){
                                                if(event.button == 'OK'){
                                                    var data = th.dataItem($(e.target).closest("tr"));
                                                    th.dataSource.remove(data);
                                                    th.dataSource.sync()
                                                }
                                            })
                                        }
                                    }],
                                    width:"40px"
                                }
                            ],
                    editable: isOperate
                });
                kendo.bind($('#layer-content'),layerViewModel);
            }
        </script>
        <script type="text/x-kendo-template" id="template">
            <div id="details-container">
                <div id="layer-content">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 col-md-offset-0">
                                        <label class="col-md-5 control-label col-md-offset-0">
                                            <span style="font-size: 20px"><@spring.message "hdispatch.theme_name"/>：</span>#= themeName #
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both">
                        <div class="pull-left" id="layerGrid_toolbar-btn" style="padding-bottom:10px;">
                            <span class="btn btn-primary" #= disabledFlag # style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                            <!--<span class="btn btn-danger" #= disabledFlag # data-bind="click:batchDeleteFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.job.batch_delete"/></span>-->
                            <span class="btn btn-success" #= disabledFlag # style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                            <span class="btn btn-default" #= disabledFlag # data-bind="click:cancelFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.cancel"/></span>
                        </div>
                        <div style="clear:both">
                            <div id="layerListGrid" style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
    </body>
</html>