<!--
Created by yyz on 2016/9/19.
yazheng.yang@hand-china.com
可以提供团队使用的公用控件：确认框

使用方法：
var confirmDialog = new $.ConfirmDialog();
confirmDialog.showConfirmDialog("确认");
var confirmResult = confirmDialog.getConfirmResult();
-->
<div id="confirmDialog_div"></div>
<script type="text/x-kendo-template" id="confirmDialogTemplate">
    <div id="confirmWindow_content_div">
        <div class="confirmWindow_deleteMessage">
            <span id="msgSpan"></span>
        </div>
        <div class="deleteButton">
            <button class="k-button" id="confirmWindow_yesButton">Yes</button>
            <button class="k-button" id="confirmWindow_noButton"> No</button>
        </div>
    </div>
</script>
<script>
    var confirmWindow = $("#confirmDialog_div").kendoWindow({
        title: "delete",
        visible: false, //the window will not appear before its .open method is called
        width: "250px",
        height: "100px",

    }).data("kendoWindow");
    /*
     通过传递想要确认的消息，弹出确认框
     输入：想要确认的消息
     返回：
     */
    var confirmDialogTemplate = kendo.template($("#confirmDialogTemplate").html());
    //自定义类
    $.ConfirmDialog = function () {
        var result=false;
        var isClose = false;
        this.showConfirmDialog= function (confirmMsg) {
            isClose = false;
            confirmWindow.content(confirmDialogTemplate); //send the row data object to the template and render it
            confirmWindow.center().open();
            $("#msgSpan").html(confirmMsg);
            $("#confirmWindow_yesButton").click(function(){
                result=true;
                isClose = true;
                confirmWindow.close();
            });

            $("#confirmWindow_noButton").click(function(){
                result=false;
                isClose = true;
                confirmWindow.close();
            });
            while(!isClose){
                sleep(1000);
            }
        };
        function sleep(n) { //n表示的毫秒数
            var start = new Date().getTime();
            while (true) if (new Date().getTime() - start > n) break;
        }
        this.getConfirmResult = function () {

            return result;
        }
    };

</script>

<style type="text/css">

    #confirmWindow_yesButton{
        position:absolute;
        top:50px;
        left:50px;
        width:50px;
    }
    #confirmWindow_noButton{
        position:absolute;
        top:50px;
        right:50px;
        width:50px;
    }
    .confirmWindow_deleteMessage{
        position:absolute;
        left:50px;
    }
</style>