<#include "../../include/header.html">
	<#-- * description: 主题组中挂载主题界面 * version: 1.0 *author:yazheng.yang@hand-china.com
			* #{copyright}# * -->
		<body>
		<div>
			<div id="content-container">
				<div id="theme-content">
					<div id="page-content" style="clear:both">
						<div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
							<span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
							<span class="btn btn-success k-grid-save-changes"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
							<span class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.cancel"/></span>
						</div>
						<div class="pull-right" id="query-form" style="padding-bottom:10px;">
							<input type="text"   style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "hdispatch.theme_name"/>' data-bind="value:model.themeName" class="k-textbox">
							<span class="btn btn-primary" style="float:left;width:70px;margin-right:5px;" data-bind="click:queryFunction" type="submit"><@spring.message "hap.query"/></span>
							<span class="btn btn-default" style="float:left;width:70px"  data-bind="click:resetForm" type="button"><@spring.message "hap.reset"/></span>
							<div style="clear:both"></div>
						</div>
						<div style="clear:both">
							<div id="themeListGrid" style="clear: both"></div>
						</div>
					</div>
				</div>
				<div id="selectThemeDetails"></div>
			</div>
			<script type="text/javascript">
				var wnd, detailsTemplate;
				var baseUrl_theme = "${base.contextPath}/dispatch/themeGroup/themeGroupTheme/";
				var baseUrl_layer = "${base.contextPath}/dispatcher/layer/";
				var themes_data;
				var themesToSelect_data;
				//获取传递过来的主题组id和名称
				var themeGroupId = "${RequestParameters.themeGroupId}";
				var themeGroupName = "${RequestParameters.themeGroupName}";
				var viewModel = kendo.observable({
					model : {
						themeName:'',
						themeDescription:'',
						themeGroupId:themeGroupId
					},
					createFunction: function(){
						$('#themeListGrid').data('kendoGrid').addRow();
					},
					saveFunction: function(){
						$('#themeListGrid').data('kendoGrid').dataSource.sync();
					},
					cancelFunction: function(e){
						$('#themeListGrid').data('kendoGrid').cancelChanges();
					},
					queryFunction: function(e) {
						$('#themeListGrid').data('kendoGrid').dataSource.page(1);
					},
					resetForm : function(e) {
						var formData = viewModel.model.toJSON();
						for ( var k in formData) {
							viewModel.model.set(k, null);
						}
					}
				});
                var themesNotInThemeGroup_viewModel;
				kendo.bind($('#query-form'), viewModel);
				kendo.bind($('#toolbar-btn'), viewModel);
				$(document).ready(function () {
					wnd = $("#selectThemeDetails")
							.kendoWindow({
								title: '<@spring.message "hdispatch.theme.layer_manage_title"/>',
								modal: true,
								visible: false,
								resizable: false,
								width: 800,
								height:350
							}).data("kendoWindow");
					detailsTemplate = kendo.template($("#themesNotInThemeGroup_template").html());
					themes_data = new kendo.data.DataSource({
						transport: {
							read:  {
								url: baseUrl_theme+"queryUnderThemeGroup",
								type : 'GET',
								dataType: "json"
							},
							update: {
								url: baseUrl_theme + "update",
								type : 'POST',
								dataType: "json",
								contentType:"application/json"
							},
							create: {
								url: baseUrl_theme+'submit',
								type : 'POST',
								dataType: "json",
								contentType:"application/json"
							},
							parameterMap: function(options, operation) {
								//封装请求参数
								if (operation !== "read" && options.models) {
									var datas = options.models;
									if(operation =='create'){
										datas = options.models.map(function(data){
											data['__status'] = 'add';
											data['themeGroupId'] = viewModel.model.themeGroupId;
											return data;
										});
									}
									//暂时不考虑更新
//									if(operation =='update'){
//										datas = options.models.map(function(data){
//											data['__status'] = 'update';
//											return data;
//										});
//									}
									var data_str = kendo.stringify(datas);
									themes_data = data_str;
									return data_str;
								} else if (operation === "read") {
									var model = viewModel.model;
									if(!model.themeName){
										model.themeName='';
									}
									var map = {themeGroupId:model.themeGroupId,themeName: model.themeName,themeDescription:model.themeDescription};
									if (options.page)
										map.page = options.page;
									if (options.pageSize)
										map.pageSize = options.pageSize;
									for(var k in map){
										if(map[k]==='')delete map[k]
									}
									return map;
								}
							}
						},
						batch: true,
						serverPaging : true,
						pageSize: 10,
						schema: {
							data:'rows',
							total:'total',
							model: {
								id: 'themeGroupThemeId',
								fields: {
									themeName: {
										type: 'string',
										editable:true
									},
									themeDescription: { type: 'string',editable:false }
								}
							},
							errors: function(res){
								if(!res.success && res.message) {
									return res.message;
								}
							}
						},
						error: function(e) {
							alert(e.errors)
						}
					});

                    $("#themeListGrid").kendoGrid({
						dataSource: themes_data,
						resizable: true,
						selectable: "multiple",
						scrollable: true,
						pageable: {
							pageSizes:[10, 20, 50, 100],
							refresh:true,
							buttonCount:10,
							messages: {
								noRecords: '<@spring.message "hdispatch.grid_find_no_data"/>',
								display: '{0} - {1} <@spring.message "hdispatch.grid_data_total_num"/> {2} <@spring.message "hdispatch.grid_data_records"/>',
								empty: '<@spring.message "hdispatch.grid_find_no_data"/>',
								page: '<@spring.message "hdispatch.grid_page"/>',
								of: "/ {0}",
								itemsPerPage: '<@spring.message "hdispatch.grid_pages_per_page"/>',
								first: '<@spring.message "hdispatch.grid_first_page"/>',
								previous: '<@spring.message "hdispatch.grid_pre_page"/>',
								next: '<@spring.message "hdispatch.grid_next_page"/>',
								last: '<@spring.message "hdispatch.grid_last_page"/>',
								refresh: '<@spring.message "hdispatch.grid_refresh"/>'
							}
						},
						columns:
								[
									{
										'field': 'themeGroupThemeId','hidden':true
									},
									{
										'field': 'themeId','hidden':true
									},
									{
										'field': 'themeName',
										'title':'<@spring.message "hdispatch.theme_name"/>',
										'width': "100px",
										editor:themeSelector,
										template:"#=themeName#"
									},
									{
										'field': 'themeDescription',
										'title':'<@spring.message "hdispatch.theme.theme_description"/>',
										'width': "200px",
										'height':"30px"
									}
								],
						editable: true,
						edit:function (e) {
							//current row data: e.model
							if(!e.model.themeId){
								$("#grid_search_btn").on("click",function(){
                                    grid_button_click(e.model);
                                });
//                                $("#grid_search_btn").attr("onclick","grid_button_click(e.model)");
							}

//							$("#grid_search_btn").attr("onclick","grid_button_click()");
						}
					});
					kendo.bind($('#theme-content'),viewModel);
				});

				function themeSelector(container, options) {
					$('<span class="k-textbox k-space-right" style="width: 100%;"><input readonly="readonly" type="text" name="' + options.field + '" class="k-input k-textbox"/><a href="#" id="grid_search_btn" class="k-icon k-i-search">&nbsp;</a></span>')
							.appendTo(container);
				}
				function grid_button_click(rowData) {
					//打开LOV窗口
					//监听双击事件，回写
//					rowData.set("themeName","测试。。。");
                    showDetailLov();
				}

				function showDetailLov() {
                    wnd.content(detailsTemplate);
                    wnd.center().open();
                    themesNotInThemeGroup_viewModel = kendo.observable({
                        model : {
                            themeName:'',
                            themeDescription:'',
                            themeGroupId:themeGroupId
                        },
                        queryFunction: function(e) {
                            $('#themeListGrid').data('kendoGrid').dataSource.page(1);
                        },
                        resetForm : function(e) {
                            var formData = themesNotInThemeGroup_viewModel.model.toJSON();
                            for ( var k in formData) {
                                viewModel.model.set(k, null);
                            }
                        }
                    });
                    themesToSelect_data = new kendo.data.DataSource({
                        transport: {
                            read:  {
                                url: baseUrl_theme+"queryNotInThemeGroup",
                                type : 'GET',
                                dataType: "json"
                            },
                            parameterMap: function(options, operation) {
                                //封装请求参数
                                if (operation === "read") {
                                    var model = themesNotInThemeGroup_viewModel.model;
                                    if(!model.themeName){
                                        model.themeName='';
                                    }
                                    var map = {themeGroupId:model.themeGroupId,themeName: model.themeName,themeDescription:model.themeDescription};
                                    if (options.page)
                                        map.page = options.page;
                                    if (options.pageSize)
                                        map.pageSize = options.pageSize;
                                    for(var k in map){
                                        if(map[k]==='')delete map[k]
                                    }
                                    return map;
                                }
                            }
                        },
                        batch: true,
                        serverPaging : true,
                        pageSize: 10,
                        schema: {
                            data:'rows',
                            total:'total',
                            model: {
                                id: 'themeId',
                                fields: {
                                    themeName: {
                                        type: 'string'
                                    },
                                    themeDescription: { type: 'string' }
                                }
                            },
                            errors: function(res){
                                if(!res.success && res.message) {
                                    return res.message;
                                }
                            }
                        },
                        error: function(e) {
                            alert(e.errors)
                        }
                    });
                    $("#themesNotInThemeGroup_grid").kendoGrid({
                        dataSource: themesToSelect_data,
                        resizable: true,
                        selectable: "multiple",
                        scrollable: true,
                        pageable: {
                            pageSizes:[10, 20, 50, 100],
                            refresh:true,
                            buttonCount:10,
                            messages: {
                                noRecords: '<@spring.message "hdispatch.grid_find_no_data"/>',
                                display: '{0} - {1} <@spring.message "hdispatch.grid_data_total_num"/> {2} <@spring.message "hdispatch.grid_data_records"/>',
                                empty: '<@spring.message "hdispatch.grid_find_no_data"/>',
                                page: '<@spring.message "hdispatch.grid_page"/>',
                                of: "/ {0}",
                                itemsPerPage: '<@spring.message "hdispatch.grid_pages_per_page"/>',
                                first: '<@spring.message "hdispatch.grid_first_page"/>',
                                previous: '<@spring.message "hdispatch.grid_pre_page"/>',
                                next: '<@spring.message "hdispatch.grid_next_page"/>',
                                last: '<@spring.message "hdispatch.grid_last_page"/>',
                                refresh: '<@spring.message "hdispatch.grid_refresh"/>'
                            }
                        },
                        columns:
                                [
                                    {
                                        'field': 'themeId','hidden':true
                                    },
                                    {
                                        'field': 'themeName',
                                        'title':'<@spring.message "hdispatch.theme_name"/>',
                                        'width': "100px"
                                    },
                                    {
                                        'field': 'themeDescription',
                                        'title':'<@spring.message "hdispatch.theme.theme_description"/>',
                                        'width': "200px"
                                    }
                                ],
                        editable: false
                    });

                    kendo.bind($('#selectTheme-content'),themesNotInThemeGroup_viewModel);
                }

			</script>
			<script type="text/x-kendo-template" id="themesNotInThemeGroup_template">
				<div id="details-container">
					<div id="selectTheme-content">
                        <div class="pull-right" id="themesNotInThemeGroup_form" style="padding-bottom:10px;">
                            <input type="text"   style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "hdispatch.theme_name"/>' data-bind="value:model.themeName" class="k-textbox">
                            <span class="btn btn-primary" style="float:left;width:70px;margin-right:5px;" data-bind="click:queryFunction" type="submit"><@spring.message "hap.query"/></span>
                            <span class="btn btn-default" style="float:left;width:70px"  data-bind="click:resetForm" type="button"><@spring.message "hap.reset"/></span>
                            <div style="clear:both"></div>
                        </div>
                        <div style="clear:both">
                            <div id="themesNotInThemeGroup_grid" style="clear: both"></div>
                        </div>
					</div>
				</div>
			</script>
		</div>
		</body>
</html>