<#include "../../include/header.html">
    <#-- * description: 主题组界面 * version: 1.0 *author:yazheng.yang@hand-china.com
            * #{copyright}# * -->
    <body>
    <div>
        <div id="content-container">
            <div id="theme-content">
                <div class="panel">
                    <form class="form-horizontal" id="query-form">
                        <div class="panel-body col-sm-offset-0">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 30%;">主题组名称</label>
                                    <input id="input1" type="text" style="width: 60%" data-bind="value:model.themeGroupName" class="k-textbox">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="width: 30%;">主题组描述</label>
                                    <input type="text" style="width:60%" data-bind="value:model.themeGroupDesc" class="k-textbox">
                                </div>
                            </div>
                            <!--<div class="col-sm-3">-->
                                <!--<div class="form-group">-->
                                    <!--<span class="btn btn-success" data-bind="click:queryFunction" type="submit"><@spring.message "hdispatch.query"/></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="panel-footer text-right">
                            <span class="btn btn-success" data-bind="click:queryFunction" type="submit"><@spring.message "hdispatch.query"/></span>
                            <span class="btn btn-default" data-bind="click:resetFunction" type="button"><@spring.message "hap.reset"/></span>
                        </div>
                    </form>
                </div>
                <div id="page-content" style="clear:both">
                    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                        <span class="btn btn-primary" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                        <!--<span class="btn btn-danger" data-bind="click:batchDeleteFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.job.batch_delete"/></span>-->
                        <span class="btn btn-success"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                        <span class="btn btn-default" data-bind="click:cancelFunction" style="float:left;margin-right:5px;"><@spring.message "hdispatch.cancel"/></span>
                    </div>
                    <div style="clear:both">
                        <div id="themeGroupListGrid" style="clear: both"></div>
                    </div>
                </div>
            </div>
            <div id="mountThemeDetails"></div>
            <div id="authorityManagementDetails"></div>
        </div>
        <script type="text/javascript">
            var baseUrl_themeGroup = "${base.contextPath}/dispatch/themeGroup/";
            var themeGroups_data;
            var viewModel = kendo.observable({
                model : {
                    themeGroupName:'',
                    themeGroupDesc:''
                },
                createFunction: function(){
                    $('#themeGroupListGrid').data('kendoGrid').addRow();
                },
                saveFunction: function(){
              		$('#themeGroupListGrid').data('kendoGrid').dataSource.sync();
                },
                cancelFunction: function(e){
                    $('#themeGroupListGrid').data('kendoGrid').cancelChanges();
                },
                queryFunction: function(e) {
                    $('#themeGroupListGrid').data('kendoGrid').dataSource.page(1);
                },
                batchDeleteFunction: function (e) {
                    var grid = $("#themeGroupListGrid").data("kendoGrid");
                    var checked = grid.selectedDataItems();
                    if (grid.selectedDataItems().length) {
                        kendo.ui.showConfirmDialog({
                            title: $l('hap.tip.info'),
                            message: $l('hap.tip.delete_confirm')
                        }).done(function (event) {
                            if (event.button == 'OK') {
                                $.each(checked, function (key,value) {
                                    grid.dataSource.remove(value);
                                });
                                grid.dataSource.sync();
                            }
                        })
                    }
                },
                resetFunction: function (e) {
                    var formData = viewModel.model.toJSON();
                    for ( var k in formData) {
                        viewModel.model.set(k, null);
                    }
                }
            });
            kendo.bind($('#query-form'), viewModel);
            kendo.bind($('#toolbar-btn'), viewModel);
            $(document).ready(function () {
                //声明主窗口
                themeGroups_data = new kendo.data.DataSource({
                    transport: {
                        read:  {
                            url: baseUrl_themeGroup+"query",
                            type : 'GET',
                            dataType: "json"
                        },
                        update: {
                            url: baseUrl_themeGroup + "update",
                            type : 'POST',
                            dataType: "json",
                            contentType:"application/json"
                        },
                        create: {
                            url: baseUrl_themeGroup+'submit',
                            type : 'POST',
                            dataType: "json",
                            contentType:"application/json"
                        },
                        destroy: {
                            url: baseUrl_themeGroup + "remove",
                            type : 'POST',
                            dataType: "application/json",
                            contentType:"application/json"
                        },
                        parameterMap: function(options, operation) {
                            //封装请求参数
                            if (operation !== "read" && options.models) {
                                var datas = options.models;
                                if(operation =='create' || operation =='update'){
                                    datas = options.models.map(function(data){
                                        data['__status'] = (operation =='create' ? 'add' : 'update');
                                        return data;
                                    });
                                }
                                if('destroy'==operation){
                                    datas = options.models.map(function(data){
                                        data['__status'] = 'delete';
                                        return data;
                                    });
                                }
                                var data_str = kendo.stringify(datas);
                                themeGroups_data = data_str;
                                return data_str;
                            } else if (operation === "read") {
                                var model = viewModel.model;
                                if(!model.themeGroupName){
                                    model.themeGroupName='';
                                }
                                if(!model.themeGroupDesc){
                                    model.themeGroupDesc='';
                                }
                                var map = {themeGroupName: model.themeGroupName,themeGroupDesc: model.themeGroupDesc};
                                if (options.page)
                                    map.page = options.page;
                                if (options.pageSize)
                                    map.pageSize = options.pageSize;
                                for(var k in map){
                                    if(map[k]==='')delete map[k]
                                }
                                return map;
                            }
                        }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 50,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: 'themeGroupId',
                            fields: {
                                themeGroupName: {
                                    type: 'string',
                                    validation: { required: true },
                                    nullable: false
                                },
                                themeGroupDesc: { type: 'string' }
                            }
                        },
                        errors: function(res){
                            if(!res.success && res.message) {
                                return res.message;
                            }
                        }
                    },
                    error: function(e){
                        if(e.errors){
                            alert(e.errors);
                        }else {
                            var responseText = eval("("+e.xhr.responseText+")");
                            if(!responseText.success && responseText.message){
                                alert(responseText.message);
                            }
                        }
                    }
                });
                $("#themeGroupListGrid").kendoGrid({
                    dataSource: themeGroups_data,
                    resizable: true,
//                    selectable: "multiple,rowbox",
                    selectable: "multiple",
                    scrollable: true,
                    pageable: {
                        pageSizes:[10, 20, 50, 100],
                        refresh:true,
                        buttonCount:50,
                        messages: {
                            noRecords: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            display: '{0} - {1} <@spring.message "hdispatch.grid_data_total_num"/> {2} <@spring.message "hdispatch.grid_data_records"/>',
                            empty: '<@spring.message "hdispatch.grid_find_no_data"/>',
                            page: '<@spring.message "hdispatch.grid_page"/>',
                            of: "/ {0}",
                            itemsPerPage: '<@spring.message "hdispatch.grid_pages_per_page"/>',
                            first: '<@spring.message "hdispatch.grid_first_page"/>',
                            previous: '<@spring.message "hdispatch.grid_pre_page"/>',
                            next: '<@spring.message "hdispatch.grid_next_page"/>',
                            last: '<@spring.message "hdispatch.grid_last_page"/>',
                            refresh: '<@spring.message "hdispatch.grid_refresh"/>'
                        }
                    },
                    columns:
                            [
                                {
                                    'field': 'themeGroupId','hidden':true
                                },
                                {
                                    'field': 'themeGroupName',
                                    'title':'主题组名称',
                                    'width': "150px"
                                },
                                {
                                    'field': 'themeGroupDesc',
                                    'title':'主题组描述',
                                    'width': "100px"
                                },
                                {
                                    attributes: {style: "text-align:center;padding:0px"},
                                    field : "",
//                                    title : '<@spring.message "hdispatch.theme.layer_operation"/>',
                                    width : 50,
                                    template : function(item) {
                                        if(!!item.themeGroupId){
                                            var html = "<button  class='btn btn-info'onclick='showMountThemesDetails(\""
                                                    + item.themeGroupId
                                                    + "\",\""+item.themeGroupName+"\")'"
                                                    + ">主题挂载"
                                                    + "</button>";
                                            return html;
                                        }else{
                                            return "<button  class='btn btn-info' disabled='disabled'>主题挂载</button>";
                                        }
                                    }
                                },
                                {
                                    attributes: {style: "text-align:center;padding:0px"},
                                    field : "",
//                                    title : '<@spring.message "hdispatch.theme.layer_operation"/>',
                                    width : 50,
                                    template : function(item) {
                                        if(!!item.themeGroupId){
                                            var html = "<button  class='btn btn-info'onclick='showAuthorityManagementDetails(\""
                                                    + item.themeGroupId
                                                    + "\",\""+item.themeGroupName+"\")'"
                                                    + ">权限分配"
                                                    + "</button>";
                                            return html;
                                        }else{
                                            return "<button  class='btn btn-info' disabled='disabled'>权限分配</button>";
                                        }
                                    }
                                },
                                {
                                    attributes: {style: "text-align:center;padding:0px"},
                                    command : [{
                                        name:'remove',
                                        template : function (rowData) {
                                            return '<a class="btn btn-danger k-grid-remove"><@spring.message "hap.delete"/></a>';
                                        },
                                        click: function(e){
                                            var th = this;
                                            e.preventDefault();
                                            kendo.ui.showConfirmDialog({
                                                title:$l('hap.tip.info'),
                                                message: $l('hap.tip.delete_confirm')
                                            }).done(function(event){
                                                if(event.button == 'OK'){
                                                    var data = th.dataItem($(e.target).closest("tr"));
                                                    th.dataSource.remove(data);
                                                    th.dataSource.sync()
                                                }
                                            })
                                        }
                                    }],
                                    width:"50px"
                                }
                    ],
          editable: true
                });
                kendo.bind($('#theme-content'),viewModel);
            });

            function showMountThemesDetails(themeGroupId_thisRow,themeGroupName_thisRow) {
                $("#mountThemeDetails").kendoWindow(
                        {
                            actions : [ "Maximize", "Minimize", "Close" ],
                            width : 920,
                            height : 450,
                            title : ' <@spring.message "hdispatch.flowlist.flowdetail"/>',
                            visible : false,
                            iframe : true,
                            modal: true,
                            content : 'dispatch_mount_theme.html?themeGroupId='
                            + themeGroupId_thisRow + '&themeGroupName=' + themeGroupName_thisRow
                        }).data("kendoWindow").center().open();
            }
            function showAuthorityManagementDetails(themeGroupId_thisRow,themeGroupName_thisRow) {
                $("#authorityManagementDetails").kendoWindow(
                        {
                            actions : [ "Maximize", "Minimize", "Close" ],
                            width : 920,
                            height : 450,
                            title : ' <@spring.message "hdispatch.flowlist.flowdetail"/>',
                            visible : false,
                            iframe : true,
                            modal: true,
                            content : 'dispatch_authority_manage.html?themeGroupId='
                            + themeGroupId_thisRow + '&themeGroupName=' + themeGroupName_thisRow
                        }).data("kendoWindow").center().open();
            }
        </script>
    </div>
    </body>
    <style>
        /*#themeGroupListGrid td{*/
            /*padding:0px;*/
        /*}*/
    </style>
</html>